<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Board">
  	<resultMap type="com.kh.tsp.customer.model.vo.Board" id="boardListSet">
  		<id property="bno" column="BOARD_NO"/>
  		<result property="bTitle" column="BOARD_TITLE"/>
  		<result property="bContext" column="BOARD_CONTEXT"/>
  		<result property="bViews" column="BOARD_VIEWS"/>
  		<result property="createDate" column="CREATION_DATE"/>
  		<result property="modifyDate" column="MODIFED_DATE"/>
  		<result property="bType" column="BOARD_TYPE"/>
  		<result property="status" column="STATUS"/>
  		<result property="mno" column="MEMBER_NO"/>
  		<result property="pno" column="PARKING_NO"/>
  		
  	</resultMap>
  	
  	<resultMap type="com.kh.tsp.customer.model.vo.Board" id="noticeListSet">
  		<id property="bno" column="BOARD_NO"/>
  		<result property="bTitle" column="BOARD_TITLE"/>
  		<result property="bContext" column="BOARD_CONTEXT"/>
  		<result property="bViews" column="BOARD_VIEWS"/>
  		<result property="createDate" column="CREATION_DATE"/>
  		<result property="modifyDate" column="MODIFED_DATE"/>
  		<result property="bType" column="BOARD_TYPE"/>
  		<result property="status" column="STATUS"/>
  		<result property="mno" column="MEMBER_NO"/>
  		<result property="pno" column="PARKING_NO"/>
  		
  	</resultMap>
  	<!-- 문의 MEMBER 조인 안한 것 -->
  	<resultMap type="com.kh.tsp.customer.model.vo.Board" id="qnaList0">
  		<id property="bno" column="BOARD_NO"/>
  		<result property="bTitle" column="BOARD_TITLE"/>
  		<result property="bContext" column="BOARD_CONTEXT"/>
  		<result property="bViews" column="BOARD_VIEWS"/>
  		<result property="createDate" column="CREATION_DATE"/>
  		<result property="modifyDate" column="MODIFED_DATE"/>
  		<result property="bType" column="BOARD_TYPE"/>
  		<result property="status" column="STATUS"/>
  		<result property="mno" column="MEMBER_NO"/>
  		<result property="pno" column="PARKING_NO"/>
  		
  	</resultMap>
  	<!-- 문의 MEMBER까지 조인 한 것 -->
  	<resultMap type="com.kh.tsp.customer.model.vo.Board" id="qnaList">
  		<id property="bno" column="BOARD_NO"/>
  		<result property="bTitle" column="BOARD_TITLE"/>
  		<result property="bContext" column="BOARD_CONTEXT"/>
  		<result property="bViews" column="BOARD_VIEWS"/>
  		<result property="createDate" column="CREATION_DATE"/>
  		<result property="modifyDate" column="MODIFED_DATE"/>
  		<result property="bType" column="BOARD_TYPE"/>
  		<result property="status" column="STATUS"/>
  		<result property="mno" column="MEMBER_NAME"/>
  		<result property="pno" column="PARKING_NO"/>
  		
  	</resultMap>
  	
  	<!-- 후기 조인 MEMBER조인 안 한 것 -->
  	<resultMap type="com.kh.tsp.customer.model.vo.Board" id="reviewListSet0">
  		<id property="bno" column="BOARD_NO"/>
  		<result property="bTitle" column="BOARD_TITLE"/>
  		<result property="bContext" column="BOARD_CONTEXT"/>
  		<result property="bViews" column="BOARD_VIEWS"/>
  		<result property="createDate" column="CREATION_DATE"/>
  		<result property="modifyDate" column="MODIFED_DATE"/>
  		<result property="bType" column="BOARD_TYPE"/>
  		<result property="status" column="STATUS"/>
  		<result property="mno" column="MEMBER_NO"/>
  		<result property="pno" column="PARKING_NAME"/>
  		
  	</resultMap>
  	
  	<!-- 후기 문의 MEMBER까지 조인 된 것 -->
  	<resultMap type="com.kh.tsp.customer.model.vo.Board" id="reviewListSet">
  		<id property="bno" column="BOARD_NO"/>
  		<result property="bTitle" column="BOARD_TITLE"/>
  		<result property="bContext" column="BOARD_CONTEXT"/>
  		<result property="bViews" column="BOARD_VIEWS"/>
  		<result property="createDate" column="CREATION_DATE"/>
  		<result property="modifyDate" column="MODIFED_DATE"/>
  		<result property="bType" column="BOARD_TYPE"/>
  		<result property="status" column="STATUS"/>
  		<result property="mno" column="MEMBER_NAME"/>
  		<result property="pno" column="PARKING_NAME"/>
  		
  	</resultMap>
  	
  	<!-- 주차장문의(사업자문의) 목록  -->
  	<resultMap type="com.kh.tsp.customer.model.vo.Board" id="parkingQnaListSet">
  		<id property="bno" column="BOARD_NO"/>
  		<result property="bTitle" column="BOARD_TITLE"/>
  		<result property="bContext" column="BOARD_CONTEXT"/>
  		<result property="bViews" column="BOARD_VIEWS"/>
  		<result property="createDate" column="CREATION_DATE"/>
  		<result property="modifyDate" column="MODIFED_DATE"/>
  		<result property="bType" column="BOARD_TYPE"/>
  		<result property="status" column="STATUS"/>
  		<result property="mno" column="MEMBER_NO"/>
  		<result property="pno" column="PARKING_NAME"/>
  		
  	</resultMap>

	<!-- 후기 댓글 -->
	<resultMap type="com.kh.tsp.customer.model.vo.Reply" id="BoardReplyResultSet">
  		<id property="replyNo" column="REPLY_NO"/>
  		<result property="context" column="REPLY_CONTEXT"/>
  		<result property="replyDate" column="REPLY_DATE"/>
  		<result property="cancelYN" column="CANCEL_YN"/>
  		<result property="modifyYN" column="MODIFY_YN"/>
  		<result property="boardNo" column="BOARD_NO"/>
  		<result property="memberNo" column="MEMBER_NAME"/>
  			
  	</resultMap>
  
  <resultMap type="com.kh.tsp.customer.model.vo.Board" id="parking2">
  		<id property="bno" column="BOARD_NO"/>
  		<result property="bTitle" column="BOARD_TITLE"/>
  		<result property="bContext" column="BOARD_CONTEXT"/>
  		<result property="bViews" column="BOARD_VIEWS"/>
  		<result property="createDate" column="CREATION_DATE"/>
  		<result property="modifyDate" column="MODIFED_DATE"/>
  		<result property="bType" column="BOARD_TYPE"/>
  		<result property="status" column="STATUS"/>
  		<result property="mno" column="MEMBER_NO"/>
  		<result property="pno" column="PARKING_NO"/>
  		<result property="reCnt" column="RECNT"/>
  	</resultMap>
  	
  	<resultMap type="com.kh.tsp.customer.model.vo.Filter" id="filter">
  		<id property="fno" column="B_FILTER_NO"/>
  		<result property="content" column="F_CONTENT"/>
  		<result property="date" column="F_DATE"/>
  		<result property="status" column="F_STATUS"/>
  		<result property="mno" column="MEMBER_NO"/>

  	</resultMap>
  	
  	<!-- 공지사항 게시물 목록 조회용 쿼리문 -->
  	<select id="boardList" resultMap="boardListSet">
  		SELECT *
  		FROM BOARD B
  		JOIN MEMBER M ON(B.MEMBER_NO = M.MEMBER_NO)
  		WHERE B.STATUS = 'Y'
  		AND B.BOARD_TYPE = '공지'
  		ORDER BY BOARD_NO DESC
  	</select>
  	
  	
  	
  	<!-- 게시물 조회수 증가용 쿼리문 -->
  	<update id="updateBoardCount" parameterType="_int">
  		UPDATE BOARD
  		SET BOARD_VIEWS = (SELECT BOARD_VIEWS FROM BOARD WHERE BOARD_NO = #{bno}) + 1
  		WHERE BOARD_NO = #{bno}
  	</update>
  	
  	<!-- 상세보기 쿼리문 -->
  	<select id="selectOneNotice" parameterType="_int" resultMap="noticeListSet">
  		SELECT *
  		FROM BOARD B
  		JOIN MEMBER M ON (B.MEMBER_NO = M.MEMBER_NO) 
  		WHERE B.BOARD_NO = #{bno}
  		AND B.STATUS = 'Y'
  	</select>
  	
  	<!-- 공지 수정1 쿼리문 -->  	
  	<select id="updateNotice" parameterType="_int" resultMap="noticeListSet">
  		SELECT *
  		FROM BOARD B
  		JOIN MEMBER M ON (B.MEMBER_NO = M.MEMBER_NO) 
  		WHERE B.BOARD_NO = #{bno}
  		AND B.STATUS = 'Y'
  	</select>
  	
  	<!-- 공지 수정2 쿼리문 -->
  	<update id="updateNotice2" parameterType="Board">
  		UPDATE BOARD
  		SET BOARD_TITLE = #{bTitle}, BOARD_CONTEXT = #{bContext}
  		WHERE BOARD_NO = #{bno}
  		AND STATUS = 'Y'
  		
  	</update>
  	
  	<!-- 공지 삭제 쿼리문 -->
  	<update id="deleteNotice" parameterType="_int">
  		UPDATE BOARD
  		SET STATUS = 'N'
  		WHERE BOARD_NO = #{bno}
  	</update>
  	
  	<!-- 공지 등록 쿼리문 -->
  	<insert id="insertNotice" parameterType="Board">
  		INSERT INTO BOARD
  		VALUES(BNO_SEQ.NEXTVAL, #{bTitle}, #{bContext}, 
  		0, SYSDATE, null, '공지', 'Y', #{mno}, null)
  	</insert>
  	
  	<!-- 내 문의 목록 쿼리문 -->
  	<select id="selectQnaList" resultMap="parking2" parameterType="_int">
  		SELECT B.BOARD_NO, B.BOARD_TITLE, B.BOARD_CONTEXT, B.BOARD_VIEWS, 
		B.CREATION_DATE,B.MODIFIED_DATE, B.BOARD_TYPE, B.STATUS, 
		(SELECT COUNT(*) FROM REPLY R WHERE R.BOARD_NO=B.BOARD_NO) AS reCnt
  		FROM BOARD B 
  		JOIN MEMBER M ON(B.MEMBER_NO = M.MEMBER_NO)
  		WHERE B.STATUS = 'Y'
  		AND  (B.BOARD_TYPE = '관리자문의'
        OR B.BOARD_TYPE = '사업자문의')
  		ORDER BY BOARD_NO DESC
  	</select>
  	
  	<!-- (내문의 작성)관리자문의 등록 쿼리문 -->
  	<insert id="insertQna" parameterType="Board">
  		INSERT INTO BOARD
  		VALUES(BNO_SEQ.NEXTVAL, #{bTitle}, #{bContext}, 
  		0, SYSDATE, null, '관리자문의', 'Y', #{mno}, null)
  	</insert>
  	
  	<!-- 내 문의 상세보기 쿼리문 -->
  	<select id="selectOneQna" parameterType="_int" resultMap="qnaList">
  		SELECT *
  		FROM BOARD B
  		JOIN MEMBER M ON (B.MEMBER_NO = M.MEMBER_NO) 
  		WHERE B.BOARD_NO = #{bno}
  		AND B.STATUS = 'Y'
  	</select>
  	
  	<!-- 내 문의 수정1 쿼리문 -->
  	
  	<select id="updateQna" parameterType="_int" resultMap="qnaList">
  		SELECT *
  		FROM BOARD B
  		JOIN MEMBER M ON (B.MEMBER_NO = M.MEMBER_NO) 
  		WHERE B.BOARD_NO = #{bno}
  		AND B.STATUS = 'Y'
  	</select>
  	
  	<!-- 내 문의 수정2 쿼리문 -->
  	<update id="updateQna2" parameterType="Board">
  		UPDATE BOARD
  		SET BOARD_TITLE = #{bTitle}, BOARD_CONTEXT = #{bContext}
  		WHERE BOARD_NO = #{bno}
  		AND STATUS = 'Y'
  		
  	</update>
  	
  	<!-- 내 문의 삭제 쿼리문 -->
  	<update id="deleteQna" parameterType="_int">
  		UPDATE BOARD
  		SET STATUS = 'N'
  		WHERE BOARD_NO = #{bno}
  		
  	</update>
  	
  	<!-- 내 후기 목록 쿼리문 -->
  	<select id="selectReviewList" resultMap="parking2" parameterType="_int">
  		SELECT B.BOARD_NO, B.BOARD_TITLE, B.BOARD_CONTEXT, B.BOARD_VIEWS, 
		B.CREATION_DATE,B.MODIFIED_DATE, B.BOARD_TYPE, B.STATUS, p.PARKING_Name as parking_no,
		B.MEMBER_NO,
		(SELECT COUNT(*) FROM REPLY R WHERE R.BOARD_NO=B.BOARD_NO) AS reCnt
  		FROM BOARD B 
  		JOIN MEMBER M ON(B.MEMBER_NO = M.MEMBER_NO)
  		JOIN PARKING P ON(B.PARKING_NO = P.PARKING_NO)
  		WHERE B.STATUS = 'Y'
  		AND B.BOARD_TYPE = '후기'
  		ORDER BY BOARD_NO DESC
  	</select>
  	
  	<!-- 후기 등록 쿼리문 -->
  	<insert id="insertReview" parameterType="Board">
  		INSERT INTO BOARD
  		VALUES(BNO_SEQ.NEXTVAL, #{bTitle}, #{bContext}, 
  		0, SYSDATE, null, '후기', 'Y', #{mno}, #{pno})
  	</insert>
  	
  	<!-- 후기 상세보기 쿼리문 -->
  	<select id="selectOneReview" parameterType="_int" resultMap="reviewListSet">
  		SELECT *
  		FROM BOARD B
  		JOIN MEMBER M ON (B.MEMBER_NO = M.MEMBER_NO)
  		JOIN PARKING P ON(B.PARKING_NO = P.PARKING_NO) 
  		WHERE B.BOARD_NO = #{bno}
  		AND B.BOARD_TYPE = '후기'
  		AND B.STATUS = 'Y'
  	</select>
  	
  	<!-- 후기 수정1 쿼리문 -->
  	<select id="updateReview" parameterType="_int" resultMap="reviewListSet">
  		SELECT *
  		FROM BOARD B
  		JOIN MEMBER M ON (B.MEMBER_NO = M.MEMBER_NO)
  		JOIN PARKING P ON(B.PARKING_NO = P.PARKING_NO) 
  		WHERE B.BOARD_NO = #{bno}
  		AND B.BOARD_TYPE = '후기'
  		AND B.STATUS = 'Y'
  	</select>
  	
  	<!-- 후기 수정2 쿼리문 -->
  	<update id="updateReview2" parameterType="Board">
  		UPDATE BOARD
  		SET BOARD_TITLE = #{bTitle}, BOARD_CONTEXT = #{bContext}
  		WHERE BOARD_NO = #{bno}
  		AND BOARD_TYPE = '후기'
  		AND STATUS = 'Y'
  		
  	</update>
  	
  	<!-- 후기 삭제 쿼리문 -->
  	<update id="deleteReview" parameterType="_int">
  		UPDATE BOARD
  		SET STATUS = 'N'
  		WHERE BOARD_NO = #{bno}
  		AND BOARD_TYPE = '후기'
  	</update>
  	
  	<!-- 후기 게시글 수 조회용 쿼리문 -->
  	<select id="selectListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM BOARD
  		WHERE STATUS='Y'
  		AND BOARD_TYPE = '후기'
  	</select>
  	
  	<!-- 공지 전체게시글 수 조회용 쿼리문 -->
  	<select id="selectNoticeListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM BOARD
  		WHERE STATUS='Y'
  		AND BOARD_TYPE = '공지'
  	</select>
  	
  	<!-- 내 문의 전체 게시글 수 조회용 쿼리문 -->
  	<select id="selectQnaListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM BOARD
  		WHERE STATUS='Y'
  		AND BOARD_TYPE = '관리자문의'
        OR BOARD_TYPE = '사업자문의'
  	</select>
  	
  	<!-- 주차장 문의 게시물 목록 조회용 쿼리문 -->
  	<select id="selectParkingQnaList" resultMap="parking2" parameterType="String">
		SELECT B.BOARD_NO, B.BOARD_TITLE, B.BOARD_CONTEXT, B.BOARD_VIEWS, 
		B.CREATION_DATE,B.MODIFIED_DATE, B.BOARD_TYPE, B.STATUS, 
		M.MEMBER_NAME as MEMBER_NO, p.PARKING_Name as parking_no, 
		(SELECT COUNT(*) FROM REPLY R WHERE R.BOARD_NO=B.BOARD_NO) AS reCnt
  		FROM BOARD B 
  		JOIN MEMBER M ON(B.MEMBER_NO = M.MEMBER_NO)
  		JOIN PARKING P ON(B.PARKING_NO = P.PARKING_NO)
  		WHERE B.STATUS = 'Y'
  		AND B.PARKING_NO = #{pno}
  		AND B.BOARD_TYPE = '사업자문의'
  		ORDER BY BOARD_NO DESC


  	</select>
  	
  	<!-- 주차장 문의 게시물 상세보기 -->
  	<select id="selectOneParkingQna" parameterType="_int" resultMap="reviewListSet">
  		SELECT *
  		FROM BOARD B
  		JOIN MEMBER M ON (B.MEMBER_NO = M.MEMBER_NO)
  		JOIN PARKING P ON(B.PARKING_NO = P.PARKING_NO)
  		WHERE B.BOARD_NO = #{bno}
  		AND B.BOARD_TYPE = '사업자문의'
  		AND B.STATUS = 'Y'
  	</select>
  	
  	<!-- 주차장 후기 목록 -->
  	<select id="selectParkingReviewList" resultMap="parking2" parameterType="String">
  		SELECT B.BOARD_NO, B.BOARD_TITLE, B.BOARD_CONTEXT, B.BOARD_VIEWS, 
		B.CREATION_DATE,B.MODIFIED_DATE, B.BOARD_TYPE, B.STATUS, 
		M.MEMBER_NAME as MEMBER_NO, p.PARKING_Name as parking_no, 
		(SELECT COUNT(*) FROM REPLY R WHERE R.BOARD_NO=B.BOARD_NO) AS reCnt
  		FROM BOARD B 
  		JOIN MEMBER M ON(B.MEMBER_NO = M.MEMBER_NO)
  		JOIN PARKING P ON(B.PARKING_NO = P.PARKING_NO)
  		WHERE B.STATUS = 'Y'
  		AND B.PARKING_NO = #{pno}
  		AND B.BOARD_TYPE = '후기'
  		ORDER BY BOARD_NO DESC
  	</select>
  	
  	<!-- 주차장 후기 상세보기 -->  	
  	<select id="selectOneParkingReview" parameterType="_int" resultMap="reviewListSet">
  		SELECT *
  		FROM BOARD B
  		JOIN MEMBER M ON (B.MEMBER_NO = M.MEMBER_NO)
  		JOIN PARKING P ON(B.PARKING_NO = P.PARKING_NO) 
  		WHERE B.BOARD_NO = #{bno}
  		AND B.BOARD_TYPE = '후기'
  		AND B.STATUS = 'Y'
  	</select>
  	
  	<!-- 주차장 후기 등록  -->
  	<insert id="insertParkingReview" parameterType="Board">
  		INSERT INTO BOARD
  		VALUES(BNO_SEQ.NEXTVAL, #{bTitle}, #{bContext}, 
  		0, SYSDATE, null, '후기', 'Y', #{mno}, #{pno})
  	</insert>
  	
  	<!-- 주차장 수정1(상세보기) -->  	
  	<select id="updateParkingReview" parameterType="_int" resultMap="reviewListSet">
  		SELECT *
  		FROM BOARD B
  		JOIN MEMBER M ON (B.MEMBER_NO = M.MEMBER_NO)
  		JOIN PARKING P ON(B.PARKING_NO = P.PARKING_NO) 
  		WHERE B.BOARD_NO = #{bno}
  		AND B.BOARD_TYPE = '후기'
  		AND B.STATUS = 'Y'
  	</select>
  	
  	<!-- 주차장 후기 수정2 쿼리문 -->
  	<update id="updateParkingReview2" parameterType="Board">
  		UPDATE BOARD
  		SET BOARD_TITLE = #{bTitle}, BOARD_CONTEXT = #{bContext}
  		WHERE BOARD_NO = #{bno}
  		AND BOARD_TYPE = '후기'
  		AND STATUS = 'Y'
  		
  	</update>
  	  	
  	<!-- 주차장 문의 전체 게시글 수 조회 -->
  	<select id="selectParkingQnaListCount" resultType="_int" parameterType="String" >
  		SELECT COUNT(*)
  		FROM BOARD
  		WHERE STATUS='Y'
  		AND BOARD_TYPE = '사업자문의'
  		AND PARKING_NO = #{pno}
  	</select>  	
  	
  	<!-- 주차장 후기 전체 게시글 수 조회 -->
  	<select id="selectParkingReviewListCount" resultType="_int" parameterType="String">
  		SELECT COUNT(*)
  		FROM BOARD
  		WHERE STATUS='Y'
  		AND PARKING_NO = #{pno}
  		AND BOARD_TYPE = '후기'
  	</select>
  	
  	<!-- 사업자 문의(주차장 문의) 등록 -->
  	<insert id="insertParkingQna" parameterType="Board">
  		INSERT INTO BOARD
  		VALUES(BNO_SEQ.NEXTVAL, #{bTitle}, #{bContext}, 
  		0, SYSDATE, null, '사업자문의', 'Y', #{mno}, #{pno})
  	</insert>
  	
  	<!-- 내 후기 전체 게시글 수 조회 -->
  	<select id="selectMyReviewListCount" resultType="_int" parameterType="_int">
  		SELECT COUNT(*)
  		FROM BOARD
  		WHERE STATUS='Y'
  		AND MEMBER_NO = #{mno}
  		AND BOARD_TYPE = '후기'
  	</select>
  	
  	<!-- 내 문의 전체 게시글 수 -->  	
  	<select id="selectMyQnaListCount" resultType="_int" parameterType="_int">
  		SELECT COUNT(*)
  		FROM BOARD
  		WHERE STATUS='Y'
  		AND MEMBER_NO = #{mno}
  		AND (BOARD_TYPE = '관리자문의'
        OR BOARD_TYPE = '사업자문의')	
  		
  	</select>
  	
  	<!-- 주차장문의 수정1(상세보기) -->
  	<select id="updateParkingQna" parameterType="_int" resultMap="reviewListSet">
  		SELECT *
  		FROM BOARD B
  		JOIN MEMBER M ON (B.MEMBER_NO = M.MEMBER_NO)
  		JOIN PARKING P ON(B.PARKING_NO = P.PARKING_NO) 
  		WHERE B.BOARD_NO = #{bno}
  		AND B.BOARD_TYPE = '사업자문의'
  		AND B.STATUS = 'Y'
  	</select>
  	
  	
  	<!-- 주차장문의 수정2(수정등록) -->
  	<update id="updateParkingQna2" parameterType="Board">
  		UPDATE BOARD
  		SET BOARD_TITLE = #{bTitle}, BOARD_CONTEXT = #{bContext}
  		WHERE BOARD_NO = #{bno}
  		AND BOARD_TYPE = '사업자문의'
  		AND STATUS = 'Y'
  		
  	</update>
  	
  	<!-- 관리자 문의 댓글 조회 -->
  	<select id="selectReply" resultMap="BoardReplyResultSet" parameterType="_int">
  	SELECT M.MEMBER_NO, M.MEMBER_ID, B.BOARD_NO, B.BOARD_TITLE, B.BOARD_CONTEXT, B.BOARD_VIEWS, B.CREATION_DATE, B.MODIFIED_DATE, B.BOARD_TYPE, B.STATUS, R.CANCEL_YN, R.REPLY_CONTEXT, R.REPLY_NO
  		FROM BOARD B
  		INNER JOIN MEMBER M ON(B.MEMBER_NO = M.MEMBER_NO)
        LEFT OUTER JOIN REPLY R ON(B.BOARD_NO = R.BOARD_NO)
  		WHERE B.BOARD_NO = #{bno}
  	</select>
  	
  	<!-- 사업자 문의 댓글 조회 -->
  	<select id="selectParkingReply" resultMap="BoardReplyResultSet" parameterType="_int">
  	SELECT M.MEMBER_NO, M.MEMBER_ID, B.BOARD_NO, B.BOARD_TITLE, B.BOARD_CONTEXT, B.BOARD_VIEWS, B.CREATION_DATE, B.MODIFIED_DATE, B.BOARD_TYPE, B.STATUS, R.CANCEL_YN, R.REPLY_CONTEXT, R.REPLY_NO
  		FROM BOARD B
  		INNER JOIN MEMBER M ON(B.MEMBER_NO = M.MEMBER_NO)
        LEFT OUTER JOIN REPLY R ON(B.BOARD_NO = R.BOARD_NO)
  		WHERE B.BOARD_TYPE = '사업자문의'
  			AND B.BOARD_NO = #{bno}
  	</select>
  
   	<!-- 후기 댓글 조회 -->
  	<select id="selectReviewReply" resultMap="BoardReplyResultSet" parameterType="_int">
  	 SELECT M.MEMBER_NO, M.MEMBER_NAME, M.MEMBER_ID, B.BOARD_NO, B.BOARD_TITLE, B.BOARD_CONTEXT, B.BOARD_VIEWS, B.CREATION_DATE, B.MODIFIED_DATE, B.BOARD_TYPE, B.STATUS, R.CANCEL_YN, R.REPLY_CONTEXT, R.REPLY_NO
  		FROM REPLY R
  		INNER JOIN MEMBER M ON(R.MEMBER_NO = M.MEMBER_NO)
        LEFT OUTER JOIN BOARD B ON(B.BOARD_NO = R.BOARD_NO)       
  		WHERE B.BOARD_TYPE = '후기'
  			AND B.BOARD_NO = #{bno}
  	</select>		
  	
  	<!-- 후기 댓글 작성 -->
  	<insert id="insertReply" parameterType="Reply">
  		INSERT INTO REPLY VALUES(REPLY_NO_SEQ.NEXTVAL,#{context},SYSDATE ,null,null, #{boardNo}, #{memberNo} )
  	</insert>
  	
  	<!-- 댓글 수 -->
  	<select id="replyCnt" resultType="_int" parameterType="_int">
  		SELECT B.*, (SELECT COUNT(*) FROM REPLY R WHERE R.BOARD_NO=B.BOARD_NO) AS repleCtn
        FROM BOARD B
        WHERE BOARD_TYPE='후기'
        AND B.PARKING_NO = '121-2-000011'
        AND STATUS='Y';
  		
  	</select>
  	
  	<select id="chkContent" resultMap="filter" parameterType="String">
		SELECT F_CONTENT FROM
		BOARD_FILTER
		WHERE F_CONTENT LIKE '%' || #{content} || '%'
		AND F_STATUS = 'Y'
	</select>
  	
  	<select id="selectWord" resultType="String">
  		SELECT F_CONTENT FROM BOARD_FILTER		
  	</select>
  	
  </mapper>