<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
	<resultMap type="com.kh.tsp.customer.model.vo.Member" id="MemberResultSet">
			<id property="member_no" column="MEMBER_NO"/>
			<result property="member_id" column="MEMBER_ID"/>
			<result property="member_pwd" column="MEMBER_PASSWORD"/>
			<result property="member_type" column="MEMBER_TYPE"/>
			<result property="id_type" column="ID_TYPE"/>
			<result property="oil" column="OIL"/>
			<result property="email" column="EMAIL"/>
			<result property="phone" column="PHONE"/>
			<result property="member_name" column="MEMBER_NAME"/>
			<result property="member_carNo" column="MEMBER_CARNO"/>
			<result property="status" column="STATUS"/>
			<result property="kakao_id" column="KAKAO_ID"/>
			<result property="bank_id" column="BANK_ID"/>
			<result property="bank_name" column="BANK_NAME"/>
			<result property="enroll_date" column="ENROLL_DATE"/>	
	</resultMap>


	<resultMap type="Parking" id="parkingResultSet">
			<id property="PARKING_NO" column="PARKING_NO"/>
			<result property="PARKING_NAME" column="PARKING_NAME"/>
			<result property="OPERATE_TYPE" column="OPERATE_TYPE"/>
			<result property="PARKING_TYPE" column="PARKING_TYPE"/>
			<result property="ROAD_ADDRESS" column="ROAD_ADDRESS"/>
			<result property="ADDRESS" column="ADDRESS"/>
			<result property="PARKING_SIZE" column="PARKING_SIZE"/>
			<result property="OPEN_DAYS" column="OPEN_DAYS"/>
			<result property="WEEKDAY_STIME" column="WEEKDAY_STIME"/>
			<result property="WEEKDAY_ETIME" column="WEEKDAY_ETIME"/>
			<result property="SAT_STIME" column="SAT_STIME"/>
			<result property="SAT_ETIME" column="SAT_ETIME"/>
			<result property="HOLIDAY_STIME" column="HOLIDAY_STIME"/>
			<result property="HOLIDAY_ETIME" column="HOLIDAY_ETIME"/>
			<result property="PRICE_INFO" column="PRICE_INFO"/>
			<result property="PARKING_NTIME" column="PARKING_NTIME"/>	
			<result property="PARKING_NPRICE" column="PARKING_NPRICE"/>
			<result property="PARKING_ATIME" column="PARKING_ATIME"/>
			<result property="PARKING_APRICE" column="PARKING_APRICE"/>
			<result property="PAY_TYPE" column="PAY_TYPE"/>
			<result property="REMARKS" column="REMARKS"/>
			<result property="LATITUDE" column="LATITUDE"/>
			<result property="LONGITUDE" column="LONGITUDE"/>
			<result property="PARKING_MANGEMENT" column="PARKING_MANGEMENT"/>
			<result property="MANAGEMENT_TEL" column="MANAGEMENT_TEL"/>
			<result property="MEMBER_NO" column="MEMBER_NO"/>
			<result property="LEFT_SIZE" column="LEFT_SIZE"/>
			<result property="STATUS" column="STATUS"/>
	</resultMap>
	
	<resultMap type="Reservation" id="reserveResultSet">
			<id property="resNo" column="RES_NO"/>
			<result property="resApplyDate" column="RES_APPLY_DATE"/>
			<result property="resDate" column="RES_DATE"/>
			<result property="status" column="STATUS"/>
			<result property="memberNo" column="MEMBER_NO"/>
			<result property="parkingNo" column="PARKING_NO"/>
			<result property="parkingName" column="PARKING_NAME"/>
			<result property="cancelReason" column="CANCEL_REASON"/>
			<result property="carNo" column="CAR_NO"/>
			<result property="reserveTime" column="RESERVETIME"/>
	</resultMap>

	<resultMap type="com.kh.tsp.customer.model.vo.Member" id="MemberResultSet2">
			<id property="member_no" column="MEMBER_NO"/>
			<result property="member_id" column="MEMBER_ID"/>
			<result property="member_pwd" column="MEMBER_PASSWORD"/>
			<result property="member_type" column="MEMBER_TYPE"/>
			<result property="id_type" column="ID_TYPE"/>
			<result property="oil" column="OIL"/>
			<result property="email" column="EMAIL"/>
			<result property="phone" column="PHONE"/>
			<result property="member_name" column="MEMBER_NAME"/>
			<result property="member_carNo" column="MEMBER_CARNO"/>
			<result property="status" column="STATUS"/>
			<result property="kakao_id" column="KAKAO_ID"/>
			<result property="bank_id" column="BANK_ID"/>
			<result property="bank_name" column="BANK_NAME"/>
			<result property="enroll_date" column="ENROLL_DATE"/>	
	</resultMap>
	
	<resultMap type="com.kh.tsp.customer.model.vo.CCoupon" id="CustomerCoupon">
			<id property="couponReqNo" column="COUPON_REQ_NO"/>
			<id property="couponNo" column="COUPON_NO"/>
			<id property="couponCRNo" column="COUPON_CR_NO"/>
			<result property="couponName" column="COUPON_NAME"/>
			<result property="couponStartDate" column="COUPON_START_DATE"/>
			<result property="couponEndDate" column="COUPON_END_DATE"/>
			<result property="parkingNo" column="PARKIN_NO"/>
			<result property="couponOdiscount" column="COUPON_ODISCOUNT"/>
			<result property="couponPdiscount" column="COUPON_PDISCOUNT"/>
			<result property="userMemberNo" column="MEMBER_NO"/>
			<result property="userDate" column="USER_DATE"/>
			<result property="userYN" column="USER_YN"/>	
	</resultMap>
	
	<select id="selectCheckMember" resultMap="MemberResultSet" parameterType="Member">
		SELECT * 
		FROM MEMBER
		WHERE MEMBER_ID = #{member_id}
		AND STATUS = 'Y'
	</select>


	<select id="selectnearParkings" resultMap="parkingResultSet" parameterType="Points">
		SELECT *
		FROM PARKING
		WHERE STATUS='Y'
 		 AND ADDRESS LIKE '%' || '서울' || '%' 
 		AND #{x01}>TO_NUMBER(LATITUDE)
 		AND TO_NUMBER(LATITUDE) >#{x00}
 		AND #{y01}>TO_NUMBER(LONGITUDE)
 		AND TO_NUMBER(LONGITUDE) >#{y00}
	
	</select>
	
	<select id="searchLocalParkings" resultMap="parkingResultSet" parameterType="String">
		SELECT * FROM parking
		WHERE status = 'Y'
		AND address LIKE '%' || #{keyword} || '%'
	</select>
	
	<!-- 사용자 - 주차장 이름 기준 검색 -->
	<select id="selectSearchTitleParking" resultMap="parkingResultSet" parameterType="string">
		SELECT *
		FROM PARKING
		WHERE STATUS='Y'
		AND parking_name LIKE '%' || #{keyword} || '%'
	</select>
	
	<!-- 사용자 - 주차장 주소 기준 검색 -->
	<select id="searchAddrParking" resultMap="parkingResultSet" parameterType="String">
		SELECT * FROM parking
		WHERE status = 'Y'
		AND address LIKE '%' || #{keyword} || '%'
	</select>
	
	<!-- 사용자 - 예약 조회 -->
	<select id="selectReserve" resultMap="reserveResultSet" parameterType="Member">
		SELECT r.res_no, r.res_apply_date, r.res_date, r.status, r.member_no, r.parking_no, p.parking_name, r.cancel_reason, r.car_no, TO_CHAR(r.res_date, 'RRRRMMDDHH24MI') AS RESERVETIME FROM parking_reservation r
		JOIN parking p ON(r.parking_no = p.parking_no)
		WHERE r.member_no = #{member_no}
		ORDER BY res_date DESC
	</select>

	<select id="selectCheckKakao"  resultMap="MemberResultSet2" parameterType="String">
		SELECT * FROM
		MEMBER 
		WHERE STATUS = 'Y'
		AND KAKAO_ID = #{kakao_id}
	</select>
	
	<insert id="insertKakao" parameterType="Member">
		INSERT INTO MEMBER
		VALUES (MNO_SEQ.NEXTVAL, #{member_id}, #{member_pwd}, 'U', 'K', '0', #{email}, #{phone}, #{member_name}, #{member_carNo},
				'Y', #{member_id}, null, null, SYSDATE)
	</insert>
	

	<!-- 사용자 - 예약 취소 -->
	<update id="updateCancelReserve" parameterType="Reservation">
		UPDATE parking_reservation
		SET status = '취소', cancel_reason = TO_CHAR(SYSDATE, 'RRRR.MM.DD HH24:MI') || ' - 사용자 요청으로 취소되었습니다.'
		WHERE res_no = #{ resNo } AND member_no = #{ memberNo }
	</update>
	
	<!-- 사용자 - 예약시간 확인(1시간 이상인지) -->
	<select id="selectOneCancelAndReserveTime" resultType="String" parameterType="int">
		SELECT TRUNC((SYSDATE - res_date) * 24 * 60)
		FROM parking_reservation
		WHERE res_no = #{ resNo }
	</select>
	
	<!-- 사용자 - 예약 취소하여 조건이 맞으면 오일도 환불 -->
	<select id="updateCancelReserveOil" parameterType="Reservation">
		UPDATE member
	    SET oil = (SELECT oil FROM member WHERE member_no = #{ memberNo })
	        + 3 * (SELECT parking_nprice FROM parking WHERE parking_no = 
	        				(SELECT parking_no FROM parking_reservation WHERE res_no = #{resNo}))
	    WHERE member_no = #{ memberNo }
	</select>
	
	<!-- 사용자 - 예약 거절 사유 조회 -->
	<select id="selectCancelReason" resultType="String" parameterType="Reservation">
		SELECT cancel_reason FROM parking_reservation
		WHERE res_no = #{ resNo } AND member_no = #{ memberNo }
	</select>
	
	<!-- 사용자 - 쿠폰 조회 -->
	<select id="selectUserCoupon" resultMap="CustomerCoupon" parameterType="Member">
		SELECT * FROM coupon_create cu 
	    JOIN (SELECT * FROM coupon c JOIN coupon_request_list cr ON (c.coupon_req_no = cr.coupon_req_no)) cl
	    ON (cu.coupon_no = cl.coupon_no)
	    WHERE cu.member_no = #{ member_no }
	</select>
	

	<select id="idCheck" resultMap="MemberResultSet2" parameterType="String">
		SELECT MEMBER_ID FROM
		MEMBER 
		WHERE STATUS = 'Y'
		AND MEMBER_ID = #{member_id}
	</select>
	
	<insert id="insertMember" parameterType="Member">
	 INSERT INTO MEMBER
	 VALUES (MNO_SEQ.NEXTVAL, #{member_id}, #{member_pwd}, 'U', 'M', '0', #{email}, #{phone}, #{member_name}, #{member_carNo},
	 		'Y', null, null, null, SYSDATE)
	</insert>
	
	<!-- 아이디 찾기 -->
	<select id="findId" resultMap="MemberResultSet2" parameterType="String">
		SELECT MEMBER_ID
		FROM MEMBER
		WHERE EMAIL = #{email}
	</select>

	<!-- 이메일 중복확인 -->
	<select id="emailChk" resultMap="MemberResultSet2" parameterType="String">
		SELECT EMAIL FROM
		MEMBER 
		WHERE STATUS = 'Y'
		AND EMAIL = #{email}
	</select>
	
	<!-- 암호화된 비밀번호 조회용 메소드 -->
	<select id="selectPwd" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT MEMBER_PASSWORD
		FROM MEMBER
		WHERE MEMBER_ID=#{member_id}
		AND STATUS = 'Y'
	</select>
	
	
</mapper>