<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Parking">
	  	<resultMap type="com.kh.tsp.parkingceo.model.vo.ParkingCeoParkingListVo" id="ParkingResultSet3">
			<id property="parkingListNo" column="PARKING_LIST_NO"/>
			<result property="parkingListName" column="PARKING_LIST_NAME"/>
			<result property="parkingListOperateType" column="PARKING_LIST_OPERATE_TYPE"/>
			<result property="parkingListParkingSize" column="PARKING_LIST_PARKING_SIZE"/>
			<result property="parkingListOpenDays" column="PARKING_LIST_OPEN_DAYS"/>
			<result property="parkingListWeekdayStime" column="PARKING_LIST_WEEKDAY_STIME"/>
			<result property="parkingListWeekdayEtime" column="PARKING_LIST_WEEKDAY_ETIME"/>
			<result property="parkingListSatStime" column="PARKING_LIST_SAT_STIME"/>
			<result property="parkingListSatEtime" column="PARKING_LIST_SAT_ETIME"/>
			<result property="parkingListHollydayStime" column="PARKING_LIST_HOLIDAY_STIME"/>
			<result property="parkingListHollydayEtime" column="PARKING_LIST_HOLIDAY_ETIME"/>
			<result property="parkingListPriceInfo" column="PARKING_LIST_PRICE_INFO"/>
			<result property="parkingListParkingNtime" column="PARKING_LIST_NTIME"/>	
			<result property="parkingListParkingNprice" column="PARKING_LIST_NPRICE"/>
			<result property="parkingListParkingAtime" column="PARKING_LIST_ATIME"/>
			<result property="parkingListParkingAprice" column="PARKING_LIST_APRICE"/>
			<result property="parkingListPayType" column="PARKING_LIST_PAY_TYPE"/>
			<result property="parkingListStatus" column="PARKING_LIST_STATUS"/>
			<result property="memberNo" column="MEMBER_NO"/>
			<result property="parkingNo" column="PARKING_NO"/>
			<result property="parkingListReason" column="PARKING_LIST_REASON"/>
			<result property="modifyDate" column="MODIFY_DATE"/>
	</resultMap>

	
	<insert id="insertParkingOne" parameterType="ParkingCeoVo">
		INSERT INTO PARKING
		VALUES (PARKING_NO_SEQ.NEXTVAL,#{parkingName},'민영',#{parkingType},NULL,#{address},#{parkingSize},#{openDays},#{weekdayStime},#{weekdayEtime},#{satStime},#{satEtime},#{hollydayStime},#{hollydayEtime},#{priceInfo}
,#{parkingNtime},#{parkingNprice},#{parkingAtime},#{parkingAprice},#{payType},#{remarks},#{latitude},#{longitude},NULL,NULL,#{memberNo},#{leftSize},'N',SYSDATE)
	</insert>

<select id="selectParkingNo" resultType="java.lang.String">
	SELECT PARKING_NO_SEQ.CURRVAL FROM DUAL
</select>

<insert id="insertParkingListOne" parameterType="com.kh.tsp.parkingceo.model.vo.ParkingCeoVo">
		INSERT INTO PARKING_LIST
		VALUES (PARKING_LIST_SEQ.NEXTVAL,#{parkingName},'민영',#{parkingSize},#{openDays},#{weekdayStime},#{weekdayEtime},#{satStime},#{satEtime},#{hollydayStime},#{hollydayEtime},#{priceInfo}
		,#{parkingNtime},#{parkingNprice},#{parkingAtime},#{parkingAprice},#{payType},'변경중',#{memberNo},#{parkingNo},NULL,SYSDATE,NULL)
</insert>

<select id="selectParkingListNo" resultType="_int">
	SELECT PARKING_LIST_SEQ.CURRVAL FROM DUAL
</select>


<insert id="insertAttachment" parameterType="com.kh.tsp.parkingceo.model.vo.ParkingCeoAttachmentVo">
	INSERT INTO ATTACHMENT
	VALUES(FID_SEQ.NEXTVAL,'변경신청사진',#{origin_name},#{change_name},#{file_path},SYSDATE,1,'N',#{parking_no},NULL,#{parking_list_no})
</insert>

<select id="selectParkingListOne" parameterType="com.kh.tsp.parkingceo.model.vo.ParkingCeoVo" resultType="hashmap">
	SELECT * FROM PARKING_LIST
    WHERE MEMBER_NO = #{memberNo}
    AND PARKING_NO = #{parkingNo}
    AND PARKING_LIST_STATUS = '변경완료'
</select>

<select id="selectAttachmentList" parameterType="hashmap" resultType="hashmap">
	SELECT * FROM ATTACHMENT
    WHERE PARKING_LIST_NO = #{PARKING_LIST_NO}
    AND STATUS = 'Y'
</select>



</mapper>


	
	
