<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="InsertParkingType">
	
	<insert id="insertParkingOne" parameterType="ParkingCeoVo">
		INSERT INTO PARKING
		VALUES (PARKING_NO_SEQ.NEXTVAL,#{parkingName},'민영',#{parkingType},NULL,#{address},#{parkingSize},#{openDays},#{weekdayStime},#{weekdayEtime},#{satStime},#{satEtime},#{hollydayStime},#{hollydayEtime},#{priceInfo}
,#{parkingNtime},#{parkingNprice},#{parkingAtime},#{parkingAprice},#{payType},#{remarks},#{latitude},#{longitude},NULL,NULL,#{memberNo},#{leftSize},'N',SYSDATE)
	</insert>

<select id="selectParkingNo" resultType="java.lang.String">
	SELECT PARKING_NO_SEQ.CURRVAL FROM DUAL
</select>

<insert id="insertParkingListOne" parameterType="com.kh.tsp.parkingceo.model.vo.ParkingCeoVo">
		INSERT INTO PARKING_LIST
		VALUES(PARKING_LIST_SEQ.NEXTVAL,#{parkingName},'민영',#{parkingSize},#{openDays},#{weekdayStime},#{weekdayEtime},#{satStime},#{satEtime},#{hollydayStime},#{hollydayEtime},#{priceInfo}
		,#{parkingNtime},#{parkingNprice},#{parkingAtime},#{parkingAprice},#{payType},'변경중',#{memberNo},#{parkingNo},NULL,SYSDATE)
</insert>

<select id="selectParkingListNo" resultType="_int">
	SELECT PARKING_LIST_SEQ.CURRVAL FROM DUAL
</select>


<insert id="insertAttachment" parameterType="com.kh.tsp.parkingceo.model.vo.ParkingCeoAttachmentVo">
	INSERT INTO ATTACHMENT
	VALUES(FID_SEQ.NEXTVAL,'변경신청사진',#{origin_name},#{change_name},#{file_path},SYSDATE,1,'N',NULL,NULL,#{parking_list_no})
</insert>


</mapper>


	
	
