<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ParkingMain">
	  	<resultMap type="com.kh.tsp.parkingceo.model.vo.ParkingCeoParkingListVo" id="ParkingResultSet3">
			<id property="parkingListNo" column="PARKING_LIST_NO"/>
			<result property="parkingListName" column="PARKING_LIST_NAME"/>
			<result property="parkingListOperateType" column="PARKING_LIST_OPERATE_TYPE"/>
			<result property="parkingListParkingSize" column="PARKING_LIST_PARKING_SIZE"/>
			<result property="parkingListOpenDays" column="PARKING_LIST_OPEN_DAYS"/>
			<result property="parkingListWeekdayStime" column="PARKING_LIST_WEEKDAY_STIME"/>
			<result property="parkingListWeekdayEtime" column="PARKING_LIST_WEEKDAY_ETIME"/>
			<result property="parkingListSatStime" column="PARKING_LIST_SAT_STIME"/>
			<result property="parkingListSatEtime" column="PARKING_LIST_SAT_ETIME"/>
			<result property="parkingListHollydayStime" column="PARKING_LIST_HOLIDAY_STIME"/>
			<result property="parkingListHollydayEtime" column="PARKING_LIST_HOLIDAY_ETIME"/>
			<result property="parkingListPriceInfo" column="PARKING_LIST_PRICE_INFO"/>
			<result property="parkingListParkingNtime" column="PARKING_LIST_NTIME"/>	
			<result property="parkingListParkingNprice" column="PARKING_LIST_NPRICE"/>
			<result property="parkingListParkingAtime" column="PARKING_LIST_ATIME"/>
			<result property="parkingListParkingAprice" column="PARKING_LIST_APRICE"/>
			<result property="parkingListPayType" column="PARKING_LIST_PAY_TYPE"/>
			<result property="parkingListStatus" column="PARKING_LIST_STATUS"/>
			<result property="memberNo" column="MEMBER_NO"/>
			<result property="parkingNo" column="PARKING_NO"/>
			<result property="parkingListReason" column="PARKING_LIST_REASON"/>
			<result property="modifyDate" column="MODIFY_DATE"/>
	</resultMap>
	
		<resultMap type="com.kh.tsp.customer.model.vo.Member" id="MemberResultSet">
			<id property="member_no" column="MEMBER_NO"/>
			<result property="member_id" column="MEMBER_ID"/>
			<result property="member_pwd" column="MEMBER_PASSWORD"/>
			<result property="member_type" column="MEMBER_TYPE"/>
			<result property="id_type" column="ID_TYPE"/>
			<result property="oil" column="OIL"/>
			<result property="email" column="EMAIL"/>
			<result property="phone" column="PHONE"/>
			<result property="member_name" column="MEMBER_NAME"/>
			<result property="member_carNo" column="MEMBER_CARNO"/>
			<result property="status" column="STATUS"/>
			<result property="kakao_id" column="KAKAO_ID"/>
			<result property="bank_id" column="BANK_ID"/>
			<result property="bank_name" column="BANK_NAME"/>
			<result property="enroll_date" column="ENROLL_DATE"/>	
	</resultMap>
	
	
	

	<select id="selectListCountInsertParkingSystemList" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*) FROM ENTRY_EXIT_LIST EEL
		LEFT JOIN MEMBER M ON (EEL.MEMBER_NO = M.MEMBER_NO)
		LEFT JOIN PARKING P ON(EEL.PARKING_NO = P.PARKING_NO)
		WHERE EEL.STATUS = '입차'
		AND P.PARKING_NO = #{parking_no}
	</select>

	<select id="selectSearchInsertParkingSystemList" parameterType="hashmap" resultType="hashmap">
		SELECT M.MEMBER_ID,M.MEMBER_NAME,EEL.PHONE,EEL.CAR_NO,EEL.START_TIME,EEL.HOURS,EEL.END_TIME,EEL.STATUS,FEE,EEL.EE_TYPE,EEL.RES_NO FROM ENTRY_EXIT_LIST EEL
		LEFT JOIN MEMBER M ON (EEL.MEMBER_NO = M.MEMBER_NO)
		LEFT JOIN PARKING P ON(EEL.PARKING_NO = P.PARKING_NO)
		WHERE EEL.STATUS = '입차'
		AND P.PARKING_NO = #{parking_no} ORDER BY START_TIME DESC
	</select>
	
	<select id="selectListCountResParkingList" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*) FROM PARKING_RESERVATION
		WHERE PARKING_NO = #{parking_no}
		AND STATUS = 'Y'
	</select>
	
	
	<select id="selectSearchResParkingList" parameterType="hashmap" resultType="hashmap">
		SELECT PR.RES_NO,PR.RES_REQUEST_DATE,PR.RES_DATE,PR.STATUS,PR.CAR_NO,M.MEMBER_ID,M.MEMBER_NAME,M.PHONE FROM PARKING_RESERVATION PR
		JOIN MEMBER M ON(PR.MEMBER_NO = M.MEMBER_NO)
		WHERE PR.PARKING_NO = #{parking_no}
		AND PR.STATUS = 'Y' ORDER BY RES_REQUEST_DATE DESC
	</select>
	
	<update id="updateResComplete" parameterType="_int">
		UPDATE PARKING_RESERVATION SET STATUS = '승인' WHERE RES_NO = #{completeResNo}
	</update>
	
	<update id="updateResCancel1" parameterType="_int">
		UPDATE PARKING_RESERVATION SET STATUS = '취소' WHERE RES_NO = #{completeResNo}
	</update>
	
	<update id="updateResCancel2" parameterType="hashmap">
		UPDATE PARKING_RESERVATION SET STATUS = '취소', CANCEL_REASON = #{resCancelText} WHERE RES_NO = #{completeResNo}
	</update>
	
	<select id="searchNonMemberPakringSize" parameterType="hashmap" resultType="hashmap">
		SELECT PARKING_SIZE,LEFT_SIZE FROM PARKING WHERE PARKING_NO = #{parking_no}
	</select>
	
	<insert id="insertNonMemberEntryList" parameterType="hashmap">
		INSERT INTO ENTRY_EXIT_LIST
		VALUES (EE_NO_SEQ.NEXTVAL,TO_DATE(#{start_time},'YYYY-MM-DD HH24:MI:SS'),NULL,'일반',NULL,0,#{parking_no},NULL,NULL,#{car_no},'입차',#{phone})
	</insert>
	
	<insert id="insertNomalMemberEntryList" parameterType="hashmap">
		INSERT INTO ENTRY_EXIT_LIST
		VALUES (EE_NO_SEQ.NEXTVAL,TO_DATE(#{start_time},'YYYY-MM-DD HH24:MI:SS'),NULL,'일반',NULL,0,#{parking_no},NULL,#{member_no},#{car_no},'입차',#{phone})
	
	</insert>
	
	
	
	
	<update id="updateLeftSize1" parameterType="hashmap">
		UPDATE PARKING SET LEFT_SIZE = (SELECT LEFT_SIZE FROM PARKING WHERE PARKING_NO = #{parking_no}) -1
		WHERE PARKING_NO = #{parking_no}
	</update>
	
	<update id="updateNonMemberTimes" parameterType="hashmap">
		UPDATE ENTRY_EXIT_LIST SET END_TIME = SYSDATE WHERE CAR_NO = #{car_no} AND PARKING_NO = #{parking_no}
	</update>
	
	<select id="selectNonMemberUseTime" parameterType="hashmap" resultType="hashmap">
		SELECT TRUNC((END_TIME - START_TIME) * 24 * 60) AS USE_TIME FROM ENTRY_EXIT_LIST WHERE CAR_NO = #{car_no} AND PARKING_NO = #{parking_no}
	</select>
	
	<select id="selectNonMemberParkingUseTimeAndPrice" parameterType="hashmap" resultType="hashmap">
		SELECT PARKING_NTIME,PARKING_NPRICE,PARKING_ATIME,PARKING_APRICE FROM PARKING WHERE PARKING_NO = #{parking_no}
	</select>
	
	<update id="updateNonMemberResultData" parameterType="hashmap">
		UPDATE ENTRY_EXIT_LIST SET STATUS = '출차',HOURS=#{resultUseTime},FEE=#{resultPrice} WHERE CAR_NO = #{car_no} AND PARKING_NO = #{parking_no}
	</update>
	
	<select id="selectNonMemberResultData" parameterType="hashmap" resultType="hashmap">
		SELECT HOURS,FEE,CAR_NO,PHONE FROM ENTRY_EXIT_LIST WHERE CAR_NO = #{car_no} AND PARKING_NO = #{parking_no}
	</select>
	
	<update id="plusNonMemberParkingLeftSize" parameterType="hashmap">
		UPDATE PARKING SET LEFT_SIZE = (SELECT LEFT_SIZE FROM PARKING WHERE PARKING_NO = #{parking_no}) +1
		WHERE PARKING_NO = #{parking_no}
	</update>
	
	
	<select id="selectNomalMemberInformation" parameterType="hashmap" resultMap="MemberResultSet">
		SELECT MEMBER_NO,MEMBER_ID,MEMBER_CARNO,MEMBER_NAME,PHONE FROM MEMBER WHERE MEMBER_ID = #{member_id}
	</select>
	
	<select id="selectNomalMemberMemberNo" parameterType="hashmap" resultType="hashmap">
		SELECT MEMBER_NO FROM MEMBER WHERE MEMBER_ID = #{member_id}
	</select>
	
	
	<select id="selectNomalMemberUseTiems" parameterType="hashmap" resultType="hashmap">
		SELECT M.MEMBER_NO,M.MEMBER_ID,EEL.CAR_NO,M.MEMBER_NAME,EEL.PHONE,EEL.START_TIME,TRUNC((SYSDATE - START_TIME) * 24 * 60) AS END_TIME FROM MEMBER M
		JOIN ENTRY_EXIT_LIST EEL ON (M.MEMBER_NO = EEL.MEMBER_NO)
		WHERE EEL.MEMBER_NO = #{member_no} AND EEL.STATUS = '입차' AND EEL.CAR_NO = #{car_no}
	</select>
	
	<update id="updateNomalMemberCurrentPayment" parameterType="hashmap">
		UPDATE ENTRY_EXIT_LIST SET STATUS = '출차',END_TIME = SYSDATE,HOURS=#{hours},FEE=#{fee} WHERE MEMBER_NO = #{member_no}
		AND CAR_NO = #{car_no}
	</update>
	
	
	<select id="selectSearchNomalMemberPoint" parameterType="hashmap" resultType="hashmap">
		SELECT OIL FROM MEMBER WHERE MEMBER_NO = #{member_no}
	</select>
	
	<update id="updateNomalMemberPointPayment" parameterType="hashmap">
		UPDATE ENTRY_EXIT_LIST SET STATUS = '출차',END_TIME = SYSDATE,HOURS=#{hours},FEE=#{fee} WHERE MEMBER_NO = #{member_no}
		AND CAR_NO = #{car_no}
	</update>
	
	<update id="updateNomalMemberOil">
		UPDATE MEMBER SET OIL = (SELECT OIL FROM MEMBER WHERE MEMBER_NO = #{member_no}) - #{fee} WHERE MEMBER_NO = #{member_no}
	</update>
	
	
</mapper>


	
	
