<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

<typeAliases>
	 <typeAlias type="com.kh.tsp.customer.model.vo.Member" alias="Member"/>
 	 <typeAlias type="com.kh.tsp.admin.model.vo.MemberAdmin" alias="MemberAdmin"/>
 	 <typeAlias type="com.kh.tsp.admin.model.vo.CouponRequestList" alias="CouponAdmin"/>
 	 <typeAlias type="com.kh.tsp.admin.model.vo.ExchangeMoneyAdmin" alias="ExchangeMoneyAdmin"/>
 	 <typeAlias type="com.kh.tsp.admin.model.vo.ParkingAdmin" alias="ParkingAdmin"/>
 	 <typeAlias type="com.kh.tsp.admin.model.vo.ParkingListAdmin" alias="ParkingListAdmin"/>
 	 <typeAlias type="com.kh.tsp.admin.model.vo.Filter" alias="Filter"/>
 	 <typeAlias type="com.kh.tsp.admin.model.vo.MemberAdmin" alias="MemberAdmin2"/>
	 <typeAlias type="com.kh.tsp.customer.model.vo.Board" alias="Board"/>
	 <typeAlias type="com.kh.tsp.customer.model.vo.Board" alias="BoardAdmin"/>
	 <typeAlias type="com.kh.tsp.customer.model.vo.Parking" alias="Parking"/>
	 <typeAlias type="com.kh.tsp.customer.model.vo.Reservation" alias="Reservation"/>
	 <typeAlias type="com.kh.tsp.customer.model.vo.Points" alias="Points"/>
	 <typeAlias type="com.kh.tsp.parkingceo.model.vo.ParkingCeoVo" alias="ParkingCeoVo"/>
	 
</typeAliases>
<mappers>

  	<mapper resource="mappers/admin/parkingCEO-mapper.xml"/>
  	<mapper resource="mappers/admin/customer-mapper.xml"/>
	<mapper resource="mappers/admin/boardAdmin-mapper.xml"/>
	<mapper resource="mappers/admin/couponAdmin-mapper.xml"/>
	<mapper resource="mappers/admin/exchangeMoneyAdmin-mapper.xml"/>
  	<mapper resource="mappers/admin/parkingListAdmin-mapper.xml"/>
  	<mapper resource="mappers/admin/filter-mapper.xml"/>

	<mapper resource="mappers/customer/member-mapper.xml"/>
	<mapper resource="mappers/customer/board-mapper.xml"/>


	<mapper resource="mappers/parkingceo/ParkingCeo-mapper.xml"/>
	<mapper resource="mappers/parkingceo/Parking-mapper.xml"/>
	<mapper resource="mappers/parkingceo/parkingCeoPromotion-mapper.xml"/>
	<mapper resource="mappers/parkingceo/ExchangeMoney-mapper.xml"/>
	<mapper resource="mappers/parkingceo/ParkingCeoNote-mapper.xml"/>
	<mapper resource="mappers/parkingceo/ParkingCeoDetail-mapper.xml"/>
</mappers>



</configuration>