<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

<typeAliases>
	 <typeAlias type="com.kh.tsp.customer.model.vo.Member" alias="Member"/>
 	 <typeAlias type="com.kh.tsp.admin.model.vo.MemberAdmin" alias="MemberAdmin"/>
	 <typeAlias type="com.kh.tsp.customer.model.vo.Board" alias="Board"/>
	 <typeAlias type="com.kh.tsp.customer.model.vo.Parking" alias="Parking"/>
</typeAliases>
<mappers>
	<mapper resource="mappers/customer/member-mapper.xml"/>
  <mapper resource="mappers/admin/parkingCEO-servlet.xml"/>
	<mapper resource="mappers/customer/board-mapper.xml"/>
	<mapper resource="mappers/parkingceo/insertParkingCeo-servlet.xml"/>

	
</mappers>



</configuration>