<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="BoardAdmin">
  	<resultMap type="com.kh.tsp.customer.model.vo.Board" id="BoardAdminResultSet">
  		<id property="bno" column="BOARD_NO"/>
  		<result property="bTitle" column="BOARD_TITLE"/>
  		<result property="bContext" column="BOARD_CONTEXT"/>
  		<result property="bViews" column="BOARD_VIEWS"/>
  		<result property="createDate" column="CREATION_DATE"/>
  		<result property="modifyDate" column="MODIFED_DATE"/>
  		<result property="bType" column="BOARD_TYPE"/>
  		<result property="status" column="STATUS"/>
  		<result property="mno" column="MEMBER_NO"/>
  		<result property="pno" column="PARKING_NO"/>
  		<result property="mId" column="MEMBER_ID"/>
  		<result property="cancelYN" column="CANCEL_YN"/>
  		<result property="replyContext" column="REPLY_CONTEXT"/>
  	</resultMap>
  	  
  	<resultMap type="com.kh.tsp.admin.model.vo.ReplyAdmin" id="ReplyAdminResultSet">
  		<id property="replyNo" column="REPLY_NO"/>
  		<result property="context" column="CONTEXT"/>
  		<result property="relpyDate" column="REPLY_DATE"/>
  		<result property="cancelYN" column="CANCEL_YN"/>
  		<result property="modifyYN" column="MODIFY_YN"/>
  		<result property="boardNo" column="BOARD_NO"/>
  		<result property="memberNo" column="MEMBER_NO"/>
  	</resultMap>
  	
	<!-- 문의게시판 전체 수 -->
  	<select id="getListCount" resultType="_int">
  		SELECT COUNT(*) 
		FROM BOARD
		WHERE BOARD_TYPE = '관리자문의'
  	</select>
  	
  	<!-- 문의게시판 전체 리스트 -->
  	<select id="selectBoardQnAList" resultMap="BoardAdminResultSet">
  		SELECT M.MEMBER_NO, M.MEMBER_ID, B.BOARD_NO, B.BOARD_TITLE, B.BOARD_CONTEXT, B.BOARD_VIEWS, B.CREATION_DATE, B.MODIFIED_DATE, B.BOARD_TYPE, B.BOARD_TYPE, B.STATUS, R.CANCEL_YN, R.REPLY_CONTEXT
  		FROM BOARD B
  		INNER JOIN MEMBER M ON(B.MEMBER_NO = M.MEMBER_NO)
        LEFT OUTER JOIN REPLY R ON(B.BOARD_NO = R.BOARD_NO)
  		WHERE B.BOARD_TYPE = '관리자문의'
  		ORDER BY BOARD_NO DESC
  	</select>
  	
  	<!-- 문의게시판 삭제 -->
  	<update id="deleteBoardQnA"  parameterType="_int">
  		UPDATE BOARD
  		SET STATUS = 'N'
  		WHERE STATUS='Y' AND BOARD_NO = #{boardNo}
  	</update>
  	
  	<!-- 문의게시판 복구 -->
  	<update id="updateRecoverBoardQnA"  parameterType="_int">
  		UPDATE BOARD
  		SET STATUS = 'Y'
  		WHERE STATUS='N' AND BOARD_NO = #{boardNo}
  	</update>
  	
	<!-- 문의게시판 검색 수 -->
  	<select id="getSearchListCount" resultType="_int" parameterType="java.util.Map">
  		SELECT COUNT(*) 
  		FROM BOARD B
  		INNER JOIN MEMBER M ON(B.MEMBER_NO = M.MEMBER_NO)
  		WHERE B.BOARD_TYPE = '관리자문의'
		<if test="mId != ''">
			AND M.MEMBER_ID LIKE '%'||#{mId}||'%'
		</if>
		<if test="bTitle != ''">
			AND B.BOARD_TITLE LIKE '%'||#{bTitle}||'%'
		</if>
		<if test="today != ''">
		<![CDATA[
			AND (TO_CHAR(TO_DATE(B.CREATION_DATE,'rrrr/mm/dd'), 'yyyy/mm/dd') >= TO_CHAR(TO_DATE(#{today},'yyyy/mm/dd'), 'yyyy/mm/dd') 
					AND TO_CHAR(TO_DATE(B.CREATION_DATE,'rrrr/mm/dd'), 'yyyy/mm/dd') <= TO_CHAR(TO_DATE(SYSDATE,'rrrr/mm/dd'), 'yyyy/mm/dd'))
		]]>		
		</if>
		<if test="startDate != ''">
		<![CDATA[
			AND (TO_CHAR(TO_DATE(B.CREATION_DATE,'rrrr-mm-dd'),'yyyy-mm-dd') >= TO_CHAR(TO_DATE(#{startDate},'yyyy-mm-dd'),'yyyy-mm-dd') 
					AND TO_CHAR(TO_DATE(B.CREATION_DATE,'rrrr-mm-dd'),'yyyy-mm-dd') <= TO_CHAR(TO_DATE(#{endDate},'yyyy-mm-dd'),'yyyy-mm-dd'))
		]]>		
		</if>
  	</select>
  	
  	<!-- 문의 게시판 리스트 -->
  	<select id="selectSearchBoardQnAList" resultMap="BoardAdminResultSet" parameterType="java.util.Map">		
  		SELECT M.MEMBER_NO, M.MEMBER_ID, B.BOARD_NO, B.BOARD_TITLE, B.BOARD_CONTEXT, B.BOARD_VIEWS, B.CREATION_DATE, B.MODIFIED_DATE, B.BOARD_TYPE, B.BOARD_TYPE, B.STATUS
  		FROM BOARD B
  		INNER JOIN MEMBER M ON(B.MEMBER_NO = M.MEMBER_NO)
  		WHERE B.BOARD_TYPE = '관리자문의'
		<if test="mId != ''">
			AND M.MEMBER_ID LIKE '%'||#{mId}||'%'
		</if>
		<if test="bTitle != ''">
			AND B.BOARD_TITLE LIKE '%'||#{bTitle}||'%'
		</if>
		<if test="today != ''">
		<![CDATA[
			AND (TO_CHAR(TO_DATE(B.CREATION_DATE,'rrrr/mm/dd'), 'yyyy/mm/dd') >= TO_CHAR(TO_DATE(#{today},'yyyy/mm/dd'), 'yyyy/mm/dd') 
					AND TO_CHAR(TO_DATE(B.CREATION_DATE,'rrrr/mm/dd'), 'yyyy/mm/dd') <= TO_CHAR(TO_DATE(SYSDATE,'rrrr/mm/dd'), 'yyyy/mm/dd'))
		]]>		
		</if>
		<if test="startDate != ''">
		<![CDATA[
			AND (TO_CHAR(TO_DATE(B.CREATION_DATE,'rrrr-mm-dd'),'yyyy-mm-dd') >= TO_CHAR(TO_DATE(#{startDate},'yyyy-mm-dd'),'yyyy-mm-dd') 
					AND TO_CHAR(TO_DATE(B.CREATION_DATE,'rrrr-mm-dd'),'yyyy-mm-dd') <= TO_CHAR(TO_DATE(#{endDate},'yyyy-mm-dd'),'yyyy-mm-dd'))
		]]>		
		</if>
		ORDER BY B.BOARD_NO DESC
  	</select>
  	  	
  	<!-- 문의 게시판 답변 -->
  	<select id="answerBoardQnA" resultMap="BoardAdminResultSet" parameterType="_int">
  		SELECT M.MEMBER_NO, M.MEMBER_ID, B.BOARD_NO, B.BOARD_TITLE, B.BOARD_CONTEXT, B.BOARD_VIEWS, B.CREATION_DATE, B.MODIFIED_DATE, B.BOARD_TYPE, B.BOARD_TYPE, B.STATUS
  		FROM BOARD B
  		INNER JOIN MEMBER M ON(B.MEMBER_NO = M.MEMBER_NO)
  		WHERE B.BOARD_TYPE = '관리자문의'
  			AND B.BOARD_NO = #{bno}
  	</select>
  	
  	<!-- 답변 작성 -->
  	<insert id="insertAnswerBoard" parameterType="java.util.Map">	
  		INSERT INTO REPLY VALUES(REPLY_NO_SEQ.NEXTVAL, #{textareaId}, SYSDATE, 'Y', NULL, #{bno}, #{mno})
  	</insert>
  </mapper>