<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="MainAdmin">
  	<resultMap type="com.kh.tsp.admin.model.vo.DateAdmin" id="DateAdminResultSet">
			<result property="jan" column="JAN"/>
			<result property="feb" column="FEB"/>
			<result property="mar" column="MAR"/>
			<result property="apr" column="APR"/>
			<result property="may" column="MAY"/>
			<result property="jun" column="JUN"/>
			<result property="jul" column="JUL"/>
			<result property="aug" column="AUG"/>
			<result property="sep" column="SEP"/>
			<result property="oct" column="OCT"/>
			<result property="nov" column="NOV"/>
			<result property="dec" column="DEC"/>		
			
			<result property="dayZero" column="DAYZERO"/>		
			<result property="dayOne" column="DAYONE"/>	
			<result property="dayTwo" column="DAYTWO"/>	
			<result property="dayThree" column="DAYTHREE"/>	
			<result property="dayFour" column="DAYFOUR"/>	
			<result property="dayFive" column="DAYFIVE"/>	
			<result property="daySix" column="DAYSIX"/>	
			<result property="daySeven" column="DAYSEVEN"/>	
			
			<result property="time01" column="TIME01"/>	
			<result property="time02" column="TIME02"/>
			<result property="time03" column="TIME03"/>
			<result property="time04" column="TIME04"/>
			<result property="time05" column="TIME05"/>
			<result property="time06" column="TIME06"/>
			<result property="time07" column="TIME07"/>
			<result property="time08" column="TIME08"/>
			<result property="time09" column="TIME09"/>
			<result property="time10" column="TIME10"/>
			<result property="time11" column="TIME11"/>
			<result property="time12" column="TIME12"/>	
			
			<result property="time13" column="TIME13"/>	
			<result property="time14" column="TIME14"/>	
			<result property="time15" column="TIME15"/>	
			<result property="time16" column="TIME16"/>	
			<result property="time17" column="TIME17"/>	
			<result property="time18" column="TIME18"/>	
			<result property="time19" column="TIME19"/>	
			<result property="time20" column="TIME20"/>	
			<result property="time21" column="TIME21"/>	
			<result property="time22" column="TIME22"/>	
			<result property="time23" column="TIME23"/>	
			<result property="time24" column="TIME24"/>	
	</resultMap>
	
	<!-- ///////////////////////////// 회원 ////////////////////////////////// -->
	<!-- 전체 사용자 회원 수 -->
  	<select id="getCustomerListCount" resultType="_int">
  		SELECT COUNT(*) 
		FROM MEMBER
		WHERE MEMBER_TYPE='U'
  	</select>
  	
	<!-- 전체 사업자 회원 수 -->
  	<select id="getCeoListCount" resultType="_int">
  		SELECT COUNT(*) 
		FROM MEMBER
		WHERE MEMBER_TYPE='B'
  	</select>
  
  	<!-- 올해 사용자 회원가입 수 -->
  	<select id="selectCustomerSignUpMonth" resultMap="DateAdminResultSet">		
		SELECT  (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='U' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1901') AS JAN,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='U' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1902') AS FEB,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='U' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1903') AS MAR,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='U' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1904') AS APR,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='U' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1905') AS MAY,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='U' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1906') AS JUN,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='U' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1907') AS JUL,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='U' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1908') AS AUG,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='U' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1909') AS SEP,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='U' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1910') AS OCT,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='U' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1911') AS NOV,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='U' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1912') AS DEC
		FROM DUAL
  	</select>
  	
  	<!-- 최근 7일 사용자 회원가입 수 -->
  	<select id="selectCustomerSignUp7Days" resultMap="DateAdminResultSet">		
		SELECT  (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 0 AND MEMBER_TYPE='U') AS DAYZERO,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 1 AND MEMBER_TYPE='U') AS DAYONE,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 2 AND MEMBER_TYPE='U') AS DAYTWO,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 3 AND MEMBER_TYPE='U') AS DAYTHREE,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 4 AND MEMBER_TYPE='U') AS DAYFOUR,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 5 AND MEMBER_TYPE='U') AS DAYFIVE,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 6 AND MEMBER_TYPE='U') AS DAYSIX,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 7 AND MEMBER_TYPE='U') AS DAYSEVEN
		FROM DUAL
  	</select>
  
  	<!-- 올해 사업자 회원가입 수 -->
  	<select id="selectCEOSignUpMonth" resultMap="DateAdminResultSet">		
		SELECT  (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='B' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1901') AS JAN,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='B' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1902') AS FEB,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='B' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1903') AS MAR,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='B' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1904') AS APR,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='B' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1905') AS MAY,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='B' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1906') AS JUN,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='B' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1907') AS JUL,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='B' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1908') AS AUG,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='B' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1909') AS SEP,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='B' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1910') AS OCT,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='B' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1911') AS NOV,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE MEMBER_TYPE='B' AND TO_CHAR(ENROLL_DATE, 'YYMM')='1912') AS DEC
		FROM DUAL
  	</select>
  	
  	<!-- 최근 7일 사업자 회원가입 수 -->
  	<select id="selectCEOSignUp7Days" resultMap="DateAdminResultSet">		
		SELECT  (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 0 AND MEMBER_TYPE='B') AS DAYZERO,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 1 AND MEMBER_TYPE='B') AS DAYONE,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 2 AND MEMBER_TYPE='B') AS DAYTWO,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 3 AND MEMBER_TYPE='B') AS DAYTHREE,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 4 AND MEMBER_TYPE='B') AS DAYFOUR,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 5 AND MEMBER_TYPE='B') AS DAYFIVE,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 6 AND MEMBER_TYPE='B') AS DAYSIX,
		            (SELECT NVL(COUNT(*),0) FROM MEMBER WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 7 AND MEMBER_TYPE='B') AS DAYSEVEN
		FROM DUAL
  	</select>
  	
	<!-- ///////////////////////////// 게시판 ////////////////////////////////// -->
	<!-- 관리자문의 게시판 수 -->
  	<select id="getBoardAdminListCount" resultType="_int">
  		SELECT COUNT(*) 
		FROM BOARD
		WHERE BOARD_TYPE='관리자문의'
  	</select>
  	
	<!-- 사업자문의 게시판 수 -->
  	<select id="getBoardCeoListCount" resultType="_int">
  		SELECT COUNT(*) 
		FROM BOARD
		WHERE BOARD_TYPE='사업자문의'
  	</select>
  	
	<!-- 후기 게시판 수 -->
  	<select id="getBoardReplyListCount" resultType="_int">
  		SELECT COUNT(*) 
		FROM BOARD
		WHERE BOARD_TYPE='후기'
  	</select>
  	
  	<!-- 올해 관리자문의 수 -->
  	<select id="selectBoardAdminMonth" resultMap="DateAdminResultSet">		
		SELECT  (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='관리자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1901') AS JAN,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='관리자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1902') AS FEB,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='관리자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1903') AS MAR,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='관리자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1904') AS APR,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='관리자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1905') AS MAY,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='관리자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1906') AS JUN,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='관리자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1907') AS JUL,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='관리자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1908') AS AUG,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='관리자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1909') AS SEP,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='관리자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1910') AS OCT,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='관리자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1911') AS NOV,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='관리자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1912') AS DEC
		FROM DUAL
  	</select>
  	
  	<!-- 최근 7일 관리자문의 수 -->
  	<select id="selectBoardAdmin7Days" resultMap="DateAdminResultSet">		
		SELECT  (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 0 AND BOARD_TYPE='관리자문의') AS DAYZERO,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 1 AND BOARD_TYPE='관리자문의') AS DAYONE,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 2 AND BOARD_TYPE='관리자문의') AS DAYTWO,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 3 AND BOARD_TYPE='관리자문의') AS DAYTHREE,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 4 AND BOARD_TYPE='관리자문의') AS DAYFOUR,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 5 AND BOARD_TYPE='관리자문의') AS DAYFIVE,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 6 AND BOARD_TYPE='관리자문의') AS DAYSIX,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 7 AND BOARD_TYPE='관리자문의') AS DAYSEVEN
		FROM DUAL
  	</select>
  	
  	<!-- 올해 사업자문의 수 -->
  	<select id="selectBoardCeoMonth" resultMap="DateAdminResultSet">		
		SELECT  (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='사업자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1901') AS JAN,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='사업자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1902') AS FEB,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='사업자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1903') AS MAR,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='사업자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1904') AS APR,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='사업자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1905') AS MAY,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='사업자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1906') AS JUN,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='사업자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1907') AS JUL,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='사업자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1908') AS AUG,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='사업자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1909') AS SEP,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='사업자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1910') AS OCT,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='사업자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1911') AS NOV,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='사업자문의' AND TO_CHAR(CREATION_DATE, 'YYMM')='1912') AS DEC
		FROM DUAL
  	</select>
  	
  	<!-- 최근 7일 사업자문의 수 -->
  	<select id="selectBoardCeo7Days" resultMap="DateAdminResultSet">		
		SELECT  (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 0 AND BOARD_TYPE='사업자문의') AS DAYZERO,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 1 AND BOARD_TYPE='사업자문의') AS DAYONE,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 2 AND BOARD_TYPE='사업자문의') AS DAYTWO,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 3 AND BOARD_TYPE='사업자문의') AS DAYTHREE,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 4 AND BOARD_TYPE='사업자문의') AS DAYFOUR,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 5 AND BOARD_TYPE='사업자문의') AS DAYFIVE,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 6 AND BOARD_TYPE='사업자문의') AS DAYSIX,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 7 AND BOARD_TYPE='사업자문의') AS DAYSEVEN
		FROM DUAL
  	</select>
  	
  	<!-- 올해 후기 수 -->
  	<select id="selectBoardReplyMonth" resultMap="DateAdminResultSet">		
		SELECT  (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='후기' AND TO_CHAR(CREATION_DATE, 'YYMM')='1901') AS JAN,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='후기' AND TO_CHAR(CREATION_DATE, 'YYMM')='1902') AS FEB,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='후기' AND TO_CHAR(CREATION_DATE, 'YYMM')='1903') AS MAR,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='후기' AND TO_CHAR(CREATION_DATE, 'YYMM')='1904') AS APR,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='후기' AND TO_CHAR(CREATION_DATE, 'YYMM')='1905') AS MAY,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='후기' AND TO_CHAR(CREATION_DATE, 'YYMM')='1906') AS JUN,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='후기' AND TO_CHAR(CREATION_DATE, 'YYMM')='1907') AS JUL,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='후기' AND TO_CHAR(CREATION_DATE, 'YYMM')='1908') AS AUG,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='후기' AND TO_CHAR(CREATION_DATE, 'YYMM')='1909') AS SEP,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='후기' AND TO_CHAR(CREATION_DATE, 'YYMM')='1910') AS OCT,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='후기' AND TO_CHAR(CREATION_DATE, 'YYMM')='1911') AS NOV,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE BOARD_TYPE='후기' AND TO_CHAR(CREATION_DATE, 'YYMM')='1912') AS DEC
		FROM DUAL
  	</select>
  	
  	<!-- 최근 7일 후기 수 -->
  	<select id="selectBoardReply7Days" resultMap="DateAdminResultSet">		
		SELECT  (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 0 AND BOARD_TYPE='후기') AS DAYZERO,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 1 AND BOARD_TYPE='후기') AS DAYONE,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 2 AND BOARD_TYPE='후기') AS DAYTWO,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 3 AND BOARD_TYPE='후기') AS DAYTHREE,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 4 AND BOARD_TYPE='후기') AS DAYFOUR,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 5 AND BOARD_TYPE='후기') AS DAYFIVE,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 6 AND BOARD_TYPE='후기') AS DAYSIX,
		            (SELECT NVL(COUNT(*),0) FROM BOARD WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 7 AND BOARD_TYPE='후기') AS DAYSEVEN
		FROM DUAL
  	</select>
  	
  	<!-- //////////////////////////// 오늘 통계 ///////////////////////////// -->
  	<!-- 환불신청. -->
  	<select id="getRequestRefundListCount" resultType="_int">
		SELECT (SELECT NVL(COUNT(*),0) 
                    FROM EXCHANGE 
                    WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(APPLICATION_DATE, 'YYYYMMDD')) = 0 AND STATUS='환불진행중') AS DAYZERO
		FROM DUAL
  	</select>
  	
  	<!-- 환전신청. -->
  	<select id="getRequestExchangeListCount" resultType="_int">
		SELECT (SELECT NVL(COUNT(*),0) 
                    FROM EXCHANGE 
                    WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(APPLICATION_DATE, 'YYYYMMDD')) = 0 AND STATUS='환전진행중') AS DAYZERO
		FROM DUAL
  	</select>
  	
  	<!-- 사용자 회원가입 수. -->
  	<select id="getTodayCustomerListCount" resultType="_int">
        SELECT (SELECT NVL(COUNT(*),0) 
                     FROM MEMBER 
                     WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 0 AND MEMBER_TYPE='U') AS DAYZERO
		FROM DUAL        
  	</select>
  	
  	<!-- 사업자 회원가입 수. -->
  	<select id="getTodayCeoListCount" resultType="_int">
        SELECT (SELECT NVL(COUNT(*),0) 
                     FROM MEMBER 
                     WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(ENROLL_DATE, 'YYYYMMDD')) = 0 AND MEMBER_TYPE='B') AS DAYZERO
		FROM DUAL        
  	</select>
  	
  	<!-- 주차장 신청 -->
  	<select id="getRequestParkingLotListCount" resultType="_int">
  		SELECT (SELECT NVL(COUNT(*),0) 
                     FROM PARKING_LIST 
                     WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(MODIFY_DATE, 'YYYYMMDD')) = 0 AND PARKING_LIST_STATUS='변경중') AS DAYZERO
		FROM DUAL 
  	</select>
  	
  	<!-- 매출. -->
  	<select id="getProfit" resultType="_int">
  		SELECT ((SELECT NVL(SUM(OIL),0) 
                     FROM OIL_LIST 
                     WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDD')) = 0 AND OIL_LIST_TYPE='충전') 
                                  - (SELECT NVL(SUM(OIL),0) 
                                     FROM OIL_LIST 
                                     WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDD')) = 0 AND OIL_LIST_TYPE='결제취소')) AS DAYZERO
		FROM DUAL
  	</select>
  	
  	<!-- 사업자문의 게시판. -->
  	<select id="getTodayBoardCeo" resultType="_int">  		
        SELECT  (SELECT NVL(COUNT(*),0) 
                     FROM BOARD 
                     WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 0 AND BOARD_TYPE='사업자문의') AS DAYZERO
		FROM DUAL
  	</select>
  	
  	<!-- 관리자문의 게시판. -->
  	<select id="getTodayBoardAdmin" resultType="_int">
  		SELECT  (SELECT NVL(COUNT(*),0) 
                     FROM BOARD 
                     WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_NUMBER(TO_CHAR(CREATION_DATE, 'YYYYMMDD')) = 0 AND BOARD_TYPE='관리자문의') AS DAYZERO
		FROM DUAL
  	</select>
  	
  	
  </mapper>