<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberAdmin">
	<resultMap type="com.kh.tsp.admin.model.vo.MemberAdmin" id="MemberAdminResultSet">
			<id property="memberNo" column="MEMBER_NO"/>
			<result property="memberId" column="MEMBER_ID"/>
			<result property="memberPassword" column="MEMBER_PASSWORD"/>
			<result property="memberType" column="MEMBER_TYPE"/>
			<result property="idType" column="ID_TYPE"/>
			<result property="oil" column="OIL"/>
			<result property="email" column="EMAIL"/>
			<result property="phone" column="PHONE"/>
			<result property="memberName" column="MEMBER_NAME"/>
			<result property="memberCarNo" column="MEMBER_CARNO"/>
			<result property="status" column="STATUS"/>
			<result property="kakaoId" column="KAKAO_ID"/>
			<result property="bankId" column="BANK_ID"/>
			<result property="bankName" column="BANK_NAME"/>
			<result property="enrollDate" column="ENROLL_DATE"/>	
	</resultMap>
	
	<resultMap type="com.kh.tsp.admin.model.vo.OilListAdmin" id="OilListAdminResultSet">
			<id property="oilListNo" column="OIL_LIST_NO"/>
			<result property="oilListType" column="OIL_LIST_TYPE"/>
			<result property="oilListDate" column="OIL_LIST_DATE"/>
			<result property="oil" column="OIL"/>
			<result property="memberNo" column="MEMBER_NO"/>
			<result property="parkingNo" column="PARKING_NO"/>
			<result property="resNo" column="RES_NO"/>
			<result property="paymentNo" column="PAYMENT_NO"/>	
			<result property="transNo" column="TRANS_NO"/>
			
			<!-- 회원 테이블 -->
			<result property="memberId" column="MEMBER_ID"/>
			<result property="memberName" column="MEMBER_NAME"/>
			<result property="memberStatus" column="STATUS"/>
			
			<!-- 주차장 테이블 -->
			<result property="parkingName" column="PARKING_NAME"/>
	</resultMap>
		
	<resultMap type="com.kh.tsp.admin.model.vo.DateAdmin" id="DateAdminResultSet">
			<result property="jan" column="JAN"/>
			<result property="feb" column="FEB"/>
			<result property="mar" column="MAR"/>
			<result property="apr" column="APR"/>
			<result property="may" column="MAY"/>
			<result property="jun" column="JUN"/>
			<result property="jul" column="JUL"/>
			<result property="aug" column="AUG"/>
			<result property="sep" column="SEP"/>
			<result property="oct" column="OCT"/>
			<result property="nov" column="NOV"/>
			<result property="dec" column="DEC"/>		
			
			<result property="dayZero" column="DAYZERO"/>		
			<result property="dayOne" column="DAYONE"/>	
			<result property="dayTwo" column="DAYTWO"/>	
			<result property="dayThree" column="DAYTHREE"/>	
			<result property="dayFour" column="DAYFOUR"/>	
			<result property="dayFive" column="DAYFIVE"/>	
			<result property="daySix" column="DAYSIX"/>	
			<result property="daySeven" column="DAYSEVEN"/>	
			
			<result property="time01" column="TIME01"/>	
			<result property="time02" column="TIME02"/>
			<result property="time03" column="TIME03"/>
			<result property="time04" column="TIME04"/>
			<result property="time05" column="TIME05"/>
			<result property="time06" column="TIME06"/>
			<result property="time07" column="TIME07"/>
			<result property="time08" column="TIME08"/>
			<result property="time09" column="TIME09"/>
			<result property="time10" column="TIME10"/>
			<result property="time11" column="TIME11"/>
			<result property="time12" column="TIME12"/>	
			
			<result property="time13" column="TIME13"/>	
			<result property="time14" column="TIME14"/>	
			<result property="time15" column="TIME15"/>	
			<result property="time16" column="TIME16"/>	
			<result property="time17" column="TIME17"/>	
			<result property="time18" column="TIME18"/>	
			<result property="time19" column="TIME19"/>	
			<result property="time20" column="TIME20"/>	
			<result property="time21" column="TIME21"/>	
			<result property="time22" column="TIME22"/>	
			<result property="time23" column="TIME23"/>	
			<result property="time24" column="TIME24"/>	
	</resultMap>
	
	<!-- 사업자 수 -->
  	<select id="getListCount" resultType="_int">
  		SELECT COUNT(*) FROM MEMBER
  		WHERE MEMBER_TYPE='B'
  	</select>
  	
  	<!-- 사업자 전체 리스트 -->
  	<select id="selectParkingCEOList" resultMap="MemberAdminResultSet">		
		SELECT DISTINCT M.MEMBER_NO, M.MEMBER_ID, M.MEMBER_NAME, M.PHONE, M.EMAIL, M.ENROLL_DATE, M.STATUS, (SELECT SUM(OIL) FROM OIL_LIST WHERE MEMBER_NO=M.MEMBER_NO GROUP BY MEMBER_NO) AS OIL
		FROM MEMBER M 
		LEFT OUTER JOIN OIL_LIST O ON(M.MEMBER_NO=O.MEMBER_NO)
		WHERE M.MEMBER_TYPE='B'
		ORDER BY M.MEMBER_NO DESC
  	</select>
  	
  	<!-- 회원 탈퇴 -->
  	<update id="deleteParkingCEO"  parameterType="_int">
  		UPDATE MEMBER
  		SET STATUS = 'N'
  		WHERE MEMBER_TYPE='B' AND STATUS='Y' AND MEMBER_NO = #{memberNo}
  	</update>
  	
  	<!-- 회원 복구 -->
  	<update id="updateRecoverParkingCEO"  parameterType="_int">
  		UPDATE MEMBER
  		SET STATUS = 'Y'
  		WHERE MEMBER_TYPE='B' AND STATUS='N' AND MEMBER_NO = #{memberNo}
  	</update>
	
	<!-- 사업자 검색 수 -->
  	<select id="getSearchListCount" resultType="_int" parameterType="java.util.Map">
  		SELECT COUNT(*) FROM MEMBER
  		WHERE MEMBER_TYPE='B'
		<if test="selectStatus!='' and (selectStatus eq 'A'.toString())">
			AND STATUS IN('Y','N')
		</if>
		<if test="selectStatus!='' and (selectStatus eq 'Y'.toString())">
			AND STATUS='Y'
		</if>
		<if test="selectStatus!='' and (selectStatus eq 'N'.toString())">
			AND STATUS='N'
		</if>
		<if test="memberId != ''">
			AND MEMBER_ID LIKE '%'||#{memberId}||'%'
		</if>
		<if test="today != ''">
		<![CDATA[
			AND (TO_CHAR(TO_DATE(ENROLL_DATE,'rrrr/mm/dd'), 'yyyy/mm/dd') >= TO_CHAR(TO_DATE(#{today},'yyyy/mm/dd'), 'yyyy/mm/dd') 
					AND TO_CHAR(TO_DATE(ENROLL_DATE,'rrrr/mm/dd'), 'yyyy/mm/dd') <= TO_CHAR(TO_DATE(SYSDATE,'rrrr/mm/dd'), 'yyyy/mm/dd'))
		]]>		
		</if>
		<if test="startDate != ''">
		<![CDATA[
			AND (TO_CHAR(TO_DATE(ENROLL_DATE,'rrrr-mm-dd'),'yyyy-mm-dd') >= TO_CHAR(TO_DATE(#{startDate},'yyyy-mm-dd'),'yyyy-mm-dd') 
					AND TO_CHAR(TO_DATE(ENROLL_DATE,'rrrr-mm-dd'),'yyyy-mm-dd') <= TO_CHAR(TO_DATE(#{endDate},'yyyy-mm-dd'),'yyyy-mm-dd'))
		]]>		
		</if>
  	</select>
  	
  	<!-- 사업자 검색 리스트 -->
  	<select id="selectSearchParkingCEOList" resultMap="MemberAdminResultSet" parameterType="java.util.Map">		
		SELECT DISTINCT M.MEMBER_NO, M.MEMBER_ID, M.MEMBER_NAME, M.PHONE, M.EMAIL, M.ENROLL_DATE, M.STATUS, (SELECT SUM(OIL) FROM OIL_LIST WHERE MEMBER_NO=M.MEMBER_NO GROUP BY MEMBER_NO) AS OIL
		FROM MEMBER M 
		LEFT OUTER JOIN OIL_LIST O ON(M.MEMBER_NO=O.MEMBER_NO)
		WHERE M.MEMBER_TYPE='B'
		<if test="selectStatus!='' and (selectStatus eq 'A'.toString())">
			AND M.STATUS IN('Y','N')
		</if>
		<if test="selectStatus!='' and (selectStatus eq 'Y'.toString())">
			AND M.STATUS='Y'
		</if>
		<if test="selectStatus!='' and (selectStatus eq 'N'.toString())">
			AND M.STATUS='N'
		</if>
		<if test="memberId != ''">
			AND M.MEMBER_ID LIKE '%'||#{memberId}||'%'
		</if>
		<if test="today != ''">
		<![CDATA[
			AND (TO_CHAR(TO_DATE(M.ENROLL_DATE,'rrrr/mm/dd'), 'yyyy/mm/dd') >= TO_CHAR(TO_DATE(#{today},'yyyy/mm/dd'), 'yyyy/mm/dd') 
					AND TO_CHAR(TO_DATE(M.ENROLL_DATE,'rrrr/mm/dd'), 'yyyy/mm/dd') <= TO_CHAR(TO_DATE(SYSDATE,'rrrr/mm/dd'), 'yyyy/mm/dd'))
		]]>		
		</if>
		<if test="startDate != ''">
		<![CDATA[
			AND (TO_CHAR(TO_DATE(M.ENROLL_DATE,'rrrr-mm-dd'),'yyyy-mm-dd') >= TO_CHAR(TO_DATE(#{startDate},'yyyy-mm-dd'),'yyyy-mm-dd') 
					AND TO_CHAR(TO_DATE(M.ENROLL_DATE,'rrrr-mm-dd'),'yyyy-mm-dd') <= TO_CHAR(TO_DATE(#{endDate},'yyyy-mm-dd'),'yyyy-mm-dd'))
		]]>		
		</if>
		ORDER BY M.MEMBER_NO DESC
  	</select>
  	
  	
  	
	
	<!-- 사업자 통계 리스트 수 -->
  	<select id="getStatisticsListCount" resultType="_int">
  		SELECT COUNT(*)
		FROM OIL_LIST O
		INNER JOIN MEMBER M ON (M.MEMBER_NO=O.MEMBER_NO)
		WHERE O.OIL_LIST_TYPE IN('환전')
		AND M.MEMBER_TYPE='B'
  	</select>
  	
	<!-- 사업자 통계 리스트 -->
  	<select id="selectStatisticsCEOList" resultMap="OilListAdminResultSet">		
		SELECT O.OIL_LIST_NO, O.OIL_LIST_TYPE, O.OIL_LIST_DATE, O.OIL, O.MEMBER_NO, M.STATUS,
            		O.PARKING_NO, O.RES_NO, O.PAYMENT_NO, O.TRANS_NO, M.MEMBER_ID, M.MEMBER_NAME
		FROM OIL_LIST O
		INNER JOIN MEMBER M ON (M.MEMBER_NO=O.MEMBER_NO)
		WHERE O.OIL_LIST_TYPE IN('환전')
		AND M.MEMBER_TYPE='B'
		ORDER BY OIL_LIST_NO DESC
  	</select>
  	
	<!-- 충전 합계 -->
  	<select id="selectStatisticsCEOListNoPaging" resultMap="OilListAdminResultSet">		
		SELECT O.OIL, O.OIL_LIST_TYPE
		FROM OIL_LIST O
		INNER JOIN MEMBER M ON (M.MEMBER_NO=O.MEMBER_NO)
		WHERE O.OIL_LIST_TYPE IN('환전')
		AND M.MEMBER_TYPE='B'
  	</select>
  		
	<!-- 사업자 통계 검색 수 -->
  	<select id="getSearchStatisticsCEOListCount" resultType="_int" parameterType="java.util.Map">
  		SELECT COUNT(*)
		FROM OIL_LIST O
		INNER JOIN MEMBER M ON (M.MEMBER_NO=O.MEMBER_NO)
		WHERE O.OIL_LIST_TYPE IN('환전')
		AND M.MEMBER_TYPE='B'
		<if test="selectStatus!='' and (selectStatus eq 'A'.toString())">
			AND M.STATUS IN('Y','N')
		</if>
		<if test="selectStatus!='' and (selectStatus eq 'Y'.toString())">
			AND M.STATUS='Y'
		</if>
		<if test="selectStatus!='' and (selectStatus eq 'N'.toString())">
			AND M.STATUS='N'
		</if>
		<if test="memberId != ''">
			AND M.MEMBER_ID LIKE '%'||#{memberId}||'%'
		</if>
		<if test="endMoney != ''">
		<![CDATA[
			AND (O.OIL BETWEEN TO_NUMBER(#{startMoney}) AND TO_NUMBER(#{endMoney})) 
		]]>		
		</if>
		<if test="today != ''">
		<![CDATA[
			AND (TO_CHAR(TO_DATE(O.OIL_LIST_DATE,'rrrr/mm/dd'), 'yyyy/mm/dd') >= TO_CHAR(TO_DATE(#{today},'yyyy/mm/dd'), 'yyyy/mm/dd') 
					AND TO_CHAR(TO_DATE(O.OIL_LIST_DATE,'rrrr/mm/dd'), 'yyyy/mm/dd') <= TO_CHAR(TO_DATE(SYSDATE,'rrrr/mm/dd'), 'yyyy/mm/dd'))
		]]>		
		</if>
		<if test="startDate != ''">
		<![CDATA[
			AND (TO_CHAR(TO_DATE(O.OIL_LIST_DATE,'rrrr-mm-dd'),'yyyy-mm-dd') >= TO_CHAR(TO_DATE(#{startDate},'yyyy-mm-dd'),'yyyy-mm-dd') 
					AND TO_CHAR(TO_DATE(O.OIL_LIST_DATE,'rrrr-mm-dd'),'yyyy-mm-dd') <= TO_CHAR(TO_DATE(#{endDate},'yyyy-mm-dd'),'yyyy-mm-dd'))
		]]>		
		</if>
  	</select>
  	
  	<!-- 사업자 통계 검색 리스트 -->
  	<select id="selectSearchStatisticsCEOList" resultMap="OilListAdminResultSet" parameterType="java.util.Map">		
		SELECT O.OIL_LIST_NO, O.OIL_LIST_TYPE, O.OIL_LIST_DATE, O.OIL, O.MEMBER_NO, M.STATUS,
            		O.PARKING_NO, O.RES_NO, O.PAYMENT_NO, O.TRANS_NO, M.MEMBER_ID, M.MEMBER_NAME
		FROM OIL_LIST O
		INNER JOIN MEMBER M ON (M.MEMBER_NO=O.MEMBER_NO)
		WHERE O.OIL_LIST_TYPE IN('환전')
		AND M.MEMBER_TYPE='B'
		<if test="selectStatus!='' and (selectStatus eq 'A'.toString())">
			AND M.STATUS IN('Y','N')
		</if>
		<if test="selectStatus!='' and (selectStatus eq 'Y'.toString())">
			AND M.STATUS='Y'
		</if>
		<if test="selectStatus!='' and (selectStatus eq 'N'.toString())">
			AND M.STATUS='N'
		</if>
		<if test="memberId != ''">
			AND M.MEMBER_ID LIKE '%'||#{memberId}||'%'
		</if>
		<if test="endMoney != ''">
		<![CDATA[
			AND (O.OIL BETWEEN TO_NUMBER(#{startMoney}) AND TO_NUMBER(#{endMoney})) 
		]]>		
		</if>
		<if test="today != ''">
		<![CDATA[
			AND (TO_CHAR(TO_DATE(O.OIL_LIST_DATE,'rrrr/mm/dd'), 'yyyy/mm/dd') >= TO_CHAR(TO_DATE(#{today},'yyyy/mm/dd'), 'yyyy/mm/dd') 
					AND TO_CHAR(TO_DATE(O.OIL_LIST_DATE,'rrrr/mm/dd'), 'yyyy/mm/dd') <= TO_CHAR(TO_DATE(SYSDATE,'rrrr/mm/dd'), 'yyyy/mm/dd'))
		]]>		
		</if>
		<if test="startDate != ''">
		<![CDATA[
			AND (TO_CHAR(TO_DATE(O.OIL_LIST_DATE,'rrrr-mm-dd'),'yyyy-mm-dd') >= TO_CHAR(TO_DATE(#{startDate},'yyyy-mm-dd'),'yyyy-mm-dd') 
					AND TO_CHAR(TO_DATE(O.OIL_LIST_DATE,'rrrr-mm-dd'),'yyyy-mm-dd') <= TO_CHAR(TO_DATE(#{endDate},'yyyy-mm-dd'),'yyyy-mm-dd'))
		]]>		
		</if>
		ORDER BY OIL_LIST_NO DESC
  	</select>
  	
  	<!-- 통계 그래프 (월별) -->
  	<select id="selectStatisticsMonth" resultMap="DateAdminResultSet">		
		SELECT  (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_CHAR(OIL_LIST_DATE, 'YYMM')='1901' AND OIL_LIST_TYPE='환전') AS JAN,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_CHAR(OIL_LIST_DATE, 'YYMM')='1902' AND OIL_LIST_TYPE='환전') AS FEB,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_CHAR(OIL_LIST_DATE, 'YYMM')='1903' AND OIL_LIST_TYPE='환전') AS MAR,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_CHAR(OIL_LIST_DATE, 'YYMM')='1904' AND OIL_LIST_TYPE='환전') AS APR,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_CHAR(OIL_LIST_DATE, 'YYMM')='1905' AND OIL_LIST_TYPE='환전') AS MAY,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_CHAR(OIL_LIST_DATE, 'YYMM')='1906' AND OIL_LIST_TYPE='환전') AS JUN,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_CHAR(OIL_LIST_DATE, 'YYMM')='1907' AND OIL_LIST_TYPE='환전') AS JUL,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_CHAR(OIL_LIST_DATE, 'YYMM')='1908' AND OIL_LIST_TYPE='환전') AS AUG,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_CHAR(OIL_LIST_DATE, 'YYMM')='1909' AND OIL_LIST_TYPE='환전') AS SEP,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_CHAR(OIL_LIST_DATE, 'YYMM')='1910' AND OIL_LIST_TYPE='환전') AS OCT,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_CHAR(OIL_LIST_DATE, 'YYMM')='1911' AND OIL_LIST_TYPE='환전') AS NOV,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_CHAR(OIL_LIST_DATE, 'YYMM')='1912' AND OIL_LIST_TYPE='환전') AS DEC
		FROM DUAL
  	</select>

  	<!-- 통계 그래프 (최근 7일) -->
  	<select id="selectStatistics7Day" resultMap="DateAdminResultSet">		
		SELECT  (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_DATE(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDD')) = 0 AND OIL_LIST_TYPE='환전') AS DAYZERO,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_DATE(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDD')) = 1 AND OIL_LIST_TYPE='환전') AS DAYONE,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_DATE(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDD')) = 2 AND OIL_LIST_TYPE='환전') AS DAYTWO,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_DATE(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDD')) = 3 AND OIL_LIST_TYPE='환전') AS DAYTHREE,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_DATE(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDD')) = 4 AND OIL_LIST_TYPE='환전') AS DAYFOUR,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_DATE(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDD')) = 5 AND OIL_LIST_TYPE='환전') AS DAYFIVE,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_DATE(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDD')) = 6 AND OIL_LIST_TYPE='환전') AS DAYSIX,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_DATE(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDD')) = 7 AND OIL_LIST_TYPE='환전') AS DAYSEVEN
		FROM DUAL
  	</select>
  	
  	<!-- 통계 그래프 (최근 24시) -->
  	<select id="selectStatisticsToday" resultMap="DateAdminResultSet">		
		SELECT  (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 0 AND OIL_LIST_TYPE='환전') AS TIME01,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 1 AND OIL_LIST_TYPE='환전') AS TIME02,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 2 AND OIL_LIST_TYPE='환전') AS TIME03,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 3 AND OIL_LIST_TYPE='환전') AS TIME04,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 4 AND OIL_LIST_TYPE='환전') AS TIME05,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 5 AND OIL_LIST_TYPE='환전') AS TIME06,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 6 AND OIL_LIST_TYPE='환전') AS TIME07,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 7 AND OIL_LIST_TYPE='환전') AS TIME08,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 8 AND OIL_LIST_TYPE='환전') AS TIME09,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 9 AND OIL_LIST_TYPE='환전') AS TIME10,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 10 AND OIL_LIST_TYPE='환전') AS TIME11,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 11 AND OIL_LIST_TYPE='환전') AS TIME12,
		            
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 12 AND OIL_LIST_TYPE='환전') AS TIME13,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 13 AND OIL_LIST_TYPE='환전') AS TIME14,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 14 AND OIL_LIST_TYPE='환전') AS TIME15,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 15 AND OIL_LIST_TYPE='환전') AS TIME16,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 16 AND OIL_LIST_TYPE='환전') AS TIME17,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 17 AND OIL_LIST_TYPE='환전') AS TIME18,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 18 AND OIL_LIST_TYPE='환전') AS TIME19,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 19 AND OIL_LIST_TYPE='환전') AS TIME20,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 20 AND OIL_LIST_TYPE='환전') AS TIME21,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 21 AND OIL_LIST_TYPE='환전') AS TIME22,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 22 AND OIL_LIST_TYPE='환전') AS TIME23,
		            (SELECT NVL(SUM(OIL),0) FROM OIL_LIST WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDDHH24')) - TO_NUMBER(TO_CHAR(OIL_LIST_DATE, 'YYYYMMDDHH24')) = 23 AND OIL_LIST_TYPE='환전') AS TIME24
		FROM DUAL
  	</select>

</mapper>