<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ParkingListAdmin">
  	<resultMap type="com.kh.tsp.admin.model.vo.ParkingListAdmin" id="ParkingListAdminResultSet">
			<id property="parkingListNo" column="PARKING_LIST_NO"/>
			<result property="parkingListName" column="PARKING_LIST_NAME"/>
			<result property="parkingListOperateType" column="PARKING_LIST_OPERATE_TYPE"/>
			<result property="parkingListParkingSize" column="PARKING_LIST_PARKING_SIZE"/>
			<result property="parkingListOpenDays" column="PARKING_LIST_OPEN_DAYS"/>
			<result property="parkingListWeekdayStime" column="PARKING_LIST_WEEKDAY_STIME"/>
			<result property="parkingListWeekdayEtime" column="PARKING_LIST_WEEKDAY_ETIME"/>
			<result property="parkingListSatStime" column="PARKING_LIST_SAT_STIME"/>
			<result property="parkingListSatEtime" column="PARKING_LIST_SAT_ETIME"/>
			<result property="parkingListHollydayStime" column="PARKING_LIST_HOLIDAY_STIME"/>
			<result property="parkingListHollydayEtime" column="PARKING_LIST_HOLIDAY_ETIME"/>
			<result property="parkingListPriceInfo" column="PARKING_LIST_PRICE_INFO"/>
			<result property="parkingListNtime" column="PARKING_LIST_NTIME"/>	
			<result property="parkingListNprice" column="PARKING_LIST_NPRICE"/>
			<result property="parkingListAtime" column="PARKING_LIST_ATIME"/>
			<result property="parkingListAprice" column="PARKING_LIST_APRICE"/>
			<result property="parkingListPayType" column="PARKING_LIST_PAY_TYPE"/>
			<result property="parkingListStatus" column="PARKING_LIST_STATUS"/>
			
			<result property="memberNo" column="MEMBER_NO"/>
			<result property="parkingNo" column="PARKING_NO"/>			
			<result property="parkingListReason" column="PARKING_LIST_REASON"/>
			<result property="modifyDate" column="MODIFY_DATE"/>
			
			<!-- 주차장 테이블 -->
			<result property="parkingType" column="PARKING_TYPE"/>			
			<result property="parkingAddress" column="ADDRESS"/>
			<result property="parkingRoadAddress" column="ROAD_ADDRESS"/>			
			<result property="remarks" column="REMARKS"/>
			<result property="parkingManagement" column="PARKING_MANGEMENT"/>
			<result property="allianceDate" column="ALLIANCE_DATE"/>

			<!-- 사업자 -->
			<result property="phone" column="PHONE"/>		
			<result property="memberId" column="MEMBER_ID"/>			
  	</resultMap>

	<!-- 주차장 전체 수 -->
	<select id="getListCount" resultType="_int">
  		SELECT COUNT(*)
		FROM PARKING_LIST
  	</select>
  	
	<!-- 주차장 전체 리스트 -->
  	<select id="selectParkingList" resultMap="ParkingListAdminResultSet">
		SELECT PL.PARKING_LIST_NO ,PL.PARKING_LIST_NAME ,PL.PARKING_LIST_OPERATE_TYPE ,PL.PARKING_LIST_PARKING_SIZE 
		            ,PL.PARKING_LIST_OPEN_DAYS ,PL.PARKING_LIST_WEEKDAY_STIME ,PL.PARKING_LIST_WEEKDAY_ETIME ,PL.PARKING_LIST_SAT_STIME 
		            ,PL.PARKING_LIST_SAT_ETIME ,PL.PARKING_LIST_HOLIDAY_STIME ,PL.PARKING_LIST_HOLIDAY_ETIME ,PL.PARKING_LIST_PRICE_INFO 
		            ,PL.PARKING_LIST_NTIME ,PL.PARKING_LIST_NPRICE ,PL.PARKING_LIST_ATIME ,PL.PARKING_LIST_APRICE ,PL.PARKING_LIST_PAY_TYPE 
		            ,PL.PARKING_LIST_STATUS ,PL.MEMBER_NO ,PL.PARKING_NO ,PL.PARKING_LIST_REASON ,PL.MODIFY_DATE, P.ALLIANCE_DATE
		            ,P.PARKING_TYPE ,P.ADDRESS ,P.ROAD_ADDRESS ,P.REMARKS ,P.PARKING_MANGEMENT ,M.MEMBER_ID ,M.PHONE
		FROM PARKING_LIST PL
		INNER JOIN PARKING P ON(P.PARKING_NO=PL.PARKING_NO)
		INNER JOIN MEMBER M ON(M.MEMBER_NO=PL.MEMBER_NO)
		ORDER BY PARKING_LIST_NO DESC
  	</select>
  	
  	<!-- 상세보기 ajax -->
  	<select id="detailParkingLot" resultMap="ParkingListAdminResultSet" resultType="java.lang.String">
		SELECT PL.PARKING_LIST_NO ,PL.PARKING_LIST_NAME ,PL.PARKING_LIST_OPERATE_TYPE ,PL.PARKING_LIST_PARKING_SIZE 
		            ,PL.PARKING_LIST_OPEN_DAYS ,PL.PARKING_LIST_WEEKDAY_STIME ,PL.PARKING_LIST_WEEKDAY_ETIME ,PL.PARKING_LIST_SAT_STIME 
		            ,PL.PARKING_LIST_SAT_ETIME ,PL.PARKING_LIST_HOLIDAY_STIME ,PL.PARKING_LIST_HOLIDAY_ETIME ,PL.PARKING_LIST_PRICE_INFO 
		            ,PL.PARKING_LIST_NTIME ,PL.PARKING_LIST_NPRICE ,PL.PARKING_LIST_ATIME ,PL.PARKING_LIST_APRICE ,PL.PARKING_LIST_PAY_TYPE 
		            ,PL.PARKING_LIST_STATUS ,PL.MEMBER_NO ,PL.PARKING_NO ,PL.PARKING_LIST_REASON ,PL.MODIFY_DATE, P.ALLIANCE_DATE
		            ,P.PARKING_TYPE ,P.ADDRESS ,P.ROAD_ADDRESS ,P.REMARKS ,P.PARKING_MANGEMENT ,M.MEMBER_ID ,M.PHONE
		FROM PARKING_LIST PL
		INNER JOIN PARKING P ON(P.PARKING_NO=PL.PARKING_NO)
		INNER JOIN MEMBER M ON(M.MEMBER_NO=PL.MEMBER_NO)
		WHERE PL.PARKING_LIST_NO = #{parkingListNo}
  	</select>
  	
  	<!-- 승인 버튼 -->
  	<update id="updateParkingLot"  parameterType="java.lang.String">
  		UPDATE PARKING_LIST
		SET PARKING_LIST_STATUS = '변경완료'
		WHERE PARKING_LIST_NO = #{parkingListNo}
  	</update>
  	
  	<!-- 반송 버튼 -->
  	<update id="updateReturnParkingLot"  parameterType="ParkingListAdmin">
  		UPDATE PARKING_LIST
		SET PARKING_LIST_STATUS = '반송', PARKING_LIST_REASON=#{parkingListReason}
		WHERE PARKING_LIST_NO = #{parkingListNo}
  	</update>
  	
  	<!-- 반송 사유 ajax -->
  	<select id="cancelReasonDetail" resultMap="ParkingListAdminResultSet" parameterType="java.lang.String">
		SELECT PL.PARKING_LIST_NO ,PL.PARKING_LIST_NAME ,PL.PARKING_LIST_OPERATE_TYPE ,PL.PARKING_LIST_PARKING_SIZE 
		            ,PL.PARKING_LIST_OPEN_DAYS ,PL.PARKING_LIST_WEEKDAY_STIME ,PL.PARKING_LIST_WEEKDAY_ETIME ,PL.PARKING_LIST_SAT_STIME 
		            ,PL.PARKING_LIST_SAT_ETIME ,PL.PARKING_LIST_HOLIDAY_STIME ,PL.PARKING_LIST_HOLIDAY_ETIME ,PL.PARKING_LIST_PRICE_INFO 
		            ,PL.PARKING_LIST_NTIME ,PL.PARKING_LIST_NPRICE ,PL.PARKING_LIST_ATIME ,PL.PARKING_LIST_APRICE ,PL.PARKING_LIST_PAY_TYPE 
		            ,PL.PARKING_LIST_STATUS ,PL.MEMBER_NO ,PL.PARKING_NO ,PL.PARKING_LIST_REASON ,PL.MODIFY_DATE, P.ALLIANCE_DATE
		            ,P.PARKING_TYPE ,P.ADDRESS ,P.ROAD_ADDRESS ,P.REMARKS ,P.PARKING_MANGEMENT ,M.MEMBER_ID ,M.PHONE
		FROM PARKING_LIST PL
		INNER JOIN PARKING P ON(P.PARKING_NO=PL.PARKING_NO)
		INNER JOIN MEMBER M ON(M.MEMBER_NO=PL.MEMBER_NO)
		WHERE PARKING_LIST_NO = #{parkingListNo}
  	</select>
  		
	<!-- 검색 수 -->
  	<select id="getSearchListCount" resultType="_int" parameterType="java.util.Map">
  		SELECT COUNT(*) 
  		FROM PARKING_LIST PL
		INNER JOIN PARKING P ON(P.PARKING_NO=PL.PARKING_NO)
		INNER JOIN MEMBER M ON(M.MEMBER_NO=PL.MEMBER_NO)
  		WHERE 0=0
		<if test="parkingListStatus!='' and (parkingListStatus eq 'A'.toString())">
			AND (PL.PARKING_LIST_STATUS = '변경중' 
					OR PL.PARKING_LIST_STATUS  = '변경완료' 
					OR PL.PARKING_LIST_STATUS  = '반송')
		</if>
		<if test="parkingListStatus!='' and (parkingListStatus eq 'I'.toString())">
			AND PL.PARKING_LIST_STATUS  = '변경중' 
		</if>
		<if test="parkingListStatus!='' and (parkingListStatus eq 'Y'.toString())">
			AND PL.PARKING_LIST_STATUS  = '변경완료' 
		</if>
		<if test="parkingListStatus!='' and (parkingListStatus eq 'N'.toString())">
			AND PL.PARKING_LIST_STATUS  = '반송' 
		</if>
		<if test="memberId != ''">
			AND M.MEMBER_ID LIKE '%'||#{memberId}||'%'
		</if>
		<if test="parkingAddress != ''">
			AND P.ADDRESS LIKE '%'||#{parkingAddress}||'%'
		</if>
		<if test="parkingListName != ''">
			AND PL.PARKING_LIST_NAME LIKE '%'||#{parkingListName}||'%'
		</if>
		<if test="today != ''">
		<![CDATA[
			AND (TO_CHAR(TO_DATE(ENROLL_DATE,'rrrr/mm/dd'), 'yyyy/mm/dd') >= TO_CHAR(TO_DATE(#{today},'yyyy/mm/dd'), 'yyyy/mm/dd') 
					AND TO_CHAR(TO_DATE(ENROLL_DATE,'rrrr/mm/dd'), 'yyyy/mm/dd') <= TO_CHAR(TO_DATE(SYSDATE,'rrrr/mm/dd'), 'yyyy/mm/dd'))
		]]>		
		</if>
		<if test="startDate != ''">
		<![CDATA[
			AND (TO_CHAR(TO_DATE(ENROLL_DATE,'rrrr-mm-dd'),'yyyy-mm-dd') >= TO_CHAR(TO_DATE(#{startDate},'yyyy-mm-dd'),'yyyy-mm-dd') 
					AND TO_CHAR(TO_DATE(ENROLL_DATE,'rrrr-mm-dd'),'yyyy-mm-dd') <= TO_CHAR(TO_DATE(#{endDate},'yyyy-mm-dd'),'yyyy-mm-dd'))
		]]>		
		</if>
  	</select>
  	
  	<!-- 검색 결과 -->
  	<select id="selectSearchParkingLotList" resultMap="ParkingListAdminResultSet" parameterType="java.util.Map">		
		SELECT PL.PARKING_LIST_NO ,PL.PARKING_LIST_NAME ,PL.PARKING_LIST_OPERATE_TYPE ,PL.PARKING_LIST_PARKING_SIZE 
		            ,PL.PARKING_LIST_OPEN_DAYS ,PL.PARKING_LIST_WEEKDAY_STIME ,PL.PARKING_LIST_WEEKDAY_ETIME ,PL.PARKING_LIST_SAT_STIME 
		            ,PL.PARKING_LIST_SAT_ETIME ,PL.PARKING_LIST_HOLIDAY_STIME ,PL.PARKING_LIST_HOLIDAY_ETIME ,PL.PARKING_LIST_PRICE_INFO 
		            ,PL.PARKING_LIST_NTIME ,PL.PARKING_LIST_NPRICE ,PL.PARKING_LIST_ATIME ,PL.PARKING_LIST_APRICE ,PL.PARKING_LIST_PAY_TYPE 
		            ,PL.PARKING_LIST_STATUS ,PL.MEMBER_NO ,PL.PARKING_NO ,PL.PARKING_LIST_REASON ,PL.MODIFY_DATE, P.ALLIANCE_DATE
		            ,P.PARKING_TYPE ,P.ADDRESS ,P.ROAD_ADDRESS ,P.REMARKS ,P.PARKING_MANGEMENT ,M.MEMBER_ID ,M.PHONE
		FROM PARKING_LIST PL
		INNER JOIN PARKING P ON(P.PARKING_NO=PL.PARKING_NO)
		INNER JOIN MEMBER M ON(M.MEMBER_NO=PL.MEMBER_NO)
		WHERE 0=0
		<if test="parkingListStatus!='' and (parkingListStatus eq 'A'.toString())">
			AND (PL.PARKING_LIST_STATUS = '변경중' 
					OR PL.PARKING_LIST_STATUS  = '변경완료' 
					OR PL.PARKING_LIST_STATUS  = '반송')
		</if>
		<if test="parkingListStatus!='' and (parkingListStatus eq 'I'.toString())">
			AND PL.PARKING_LIST_STATUS  = '변경중' 
		</if>
		<if test="parkingListStatus!='' and (parkingListStatus eq 'Y'.toString())">
			AND PL.PARKING_LIST_STATUS  = '변경완료' 
		</if>
		<if test="parkingListStatus!='' and (parkingListStatus eq 'N'.toString())">
			AND PL.PARKING_LIST_STATUS  = '반송' 
		</if>
		<if test="memberId != ''">
			AND M.MEMBER_ID LIKE '%'||#{memberId}||'%'
		</if>
		<if test="parkingAddress != ''">
			AND P.ADDRESS LIKE '%'||#{parkingAddress}||'%'
		</if>
		<if test="parkingListName != ''">
			AND PL.PARKING_LIST_NAME LIKE '%'||#{parkingListName}||'%'
		</if>
		<if test="today != ''">
		<![CDATA[
			AND (TO_CHAR(TO_DATE(ENROLL_DATE,'rrrr/mm/dd'), 'yyyy/mm/dd') >= TO_CHAR(TO_DATE(#{today},'yyyy/mm/dd'), 'yyyy/mm/dd') 
					AND TO_CHAR(TO_DATE(ENROLL_DATE,'rrrr/mm/dd'), 'yyyy/mm/dd') <= TO_CHAR(TO_DATE(SYSDATE,'rrrr/mm/dd'), 'yyyy/mm/dd'))
		]]>		
		</if>
		<if test="startDate != ''">
		<![CDATA[
			AND (TO_CHAR(TO_DATE(ENROLL_DATE,'rrrr-mm-dd'),'yyyy-mm-dd') >= TO_CHAR(TO_DATE(#{startDate},'yyyy-mm-dd'),'yyyy-mm-dd') 
					AND TO_CHAR(TO_DATE(ENROLL_DATE,'rrrr-mm-dd'),'yyyy-mm-dd') <= TO_CHAR(TO_DATE(#{endDate},'yyyy-mm-dd'),'yyyy-mm-dd'))
		]]>		
		</if>
		ORDER BY PARKING_LIST_NO DESC
  	</select>
  	
  </mapper>